<!DOCTYPE html>
<html ng-app="eotmApp">

<head>

  <script>

  document.addEventListener('DOMContentLoaded', function(){
    if (window.location.hostname == 'localhost') return;
    if (window.location.protocol != "https:") { window.location = 'https://' + window.location.hostname + window.location.pathname + window.location.hash; }
  }, false);

  </script>


  <meta charset="UTF-8">
  <title>Equations of the matrix</title>
  <link rel="shortcut icon" href="assets/img/common/favicon-eotm.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/src/main-f266ab1a80.css" >

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <base href="/EOTM2/"> -->
</head>

<body  ng-controller="mainCtrl as vm">
  <div class="" id="bodyWrapper" ng-class="vm.eotmColor" >    <!-- add vm.eotmMoveIn class  -> {'ani-out-in' : vm.eotmMoveIn } -->

  <main class="main-wrapper" >
    <div class="" ng-include="'eotmMain.tmpl.html'"> </div>
  </main>

  <div class="" id="loaderMain" ng-if="!vm.loaderHide" ng-class="{'hide': vm.loaderHideClass}">

    <div class="loader-wrapper">
      <svg
      id="loaderMainSvg"
      width="371"
      height="340"
      version="1.1">
      <g
      inkscape:label="Layer 1"
      inkscape:groupmode="layer"
      id="layer1"
      transform="translate(0,-790.36218)">
      <g
      transform="matrix(1.2775126,0,0,1.2775126,-281.22424,24.867882)"
      id="">
      <g
      style="stroke-miterlimit:4;stroke-dasharray:none;"
      id="logo"
      transform="matrix(0.62327102,0,0,0.62327102,645.43592,851.14872)">
      <path
      style="fill:none;stroke-miterlimit:4;stroke-dasharray:none;"
      inkscape:transform-center-x="0.17336279"
      inkscape:transform-center-y="-60.968178"
      d="m -444.9351,-130.14904 -104.03557,-178.79969 208.58358,0.29261 z"
      id="triangle"
      inkscape:connector-curvature="0" />
      <!-- <polygon points="50,50 100,0 0,0" style="fill:lime;stroke:purple;stroke-width:1" /> -->
      <path
      transform="matrix(0.23100085,0.39570789,-0.37926641,0.216563,-322.34362,-362.18891)"
      style="fill:none;stroke-miterlimit:4;stroke-dasharray:none;"
      d="m 211.42857,372.36218 c 0,75.74191 -58.20298,137.14286 -129.999996,137.14286 -71.7970179,0 -130,-61.40095 -130,-137.14286 0,-75.7419 58.2029821,-137.14285 130,-137.14285 71.797016,0 129.999996,61.40095 129.999996,137.14285 z"
      id="circle"
      inkscape:connector-curvature="0" />
      <path
      style="fill:none;stroke-miterlimit:4;stroke-dasharray:none;"
      d="m -444.94461,-127.64858 -106.21994,-60.74914 0.57155,-121.64346 106.79147,-60.89432 106.21993,60.74914 -0.57154,121.64346 z"
      id="hexagram"
      inkscape:connector-curvature="0" />
      <g
      style="fill:#404040;fill-opacity:1;stroke:#404040;stroke-width:1.60443842;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
      id="g3919-9">
      <g
      id="logo-e"
      style="font-style:normal;font-weight:normal;line-height:88.99999857%;font-family:Sans;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;stroke-miterlimit:4;stroke-dasharray:none;"
      transform="matrix(0.27810362,0,0,0.27504715,-611.60738,-301.78969)">
      <path
      inkscape:connector-curvature="0"
      id="path6006-1"
      style="font-variant:normal;font-weight:bold;font-stretch:normal;line-height:88.99999857%;font-family:Sawasdee;-inkscape-font-specification:'Sawasdee Bold';stroke-miterlimit:4;stroke-dasharray:none;"
      d="m 552.33369,114.47304 0,9.35397 -42.57882,0 0,38.26627 46.10175,0 0,9.35398 -55.75942,0 0,-90.684984 56.06312,0 0,9.353977 -46.40545,0 0,24.356787 42.57882,0" />
    </g>
    <g
    id="logo-o"
    style="font-style:normal;font-weight:normal;line-height:88.99999857%;font-family:Sans;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;stroke-miterlimit:4;stroke-dasharray:none;"
    transform="matrix(0.27810362,0,0,0.27504715,-573.24863,-301.46865)">
    <path
    inkscape:connector-curvature="0"
    id="path6009-2"
    style="font-variant:normal;font-weight:bold;font-stretch:normal;line-height:88.99999857%;font-family:Sawasdee;-inkscape-font-specification:'Sawasdee Bold';stroke-miterlimit:4;stroke-dasharray:none;"
    d="m 570.25202,108.21681 c 2.5105,5.70962 3.76579,11.70264 3.76589,17.97907 -10e-5,6.27651 -1.25539,12.26953 -3.76589,17.97907 -2.47019,5.6691 -5.83114,10.54855 -10.08285,14.63837 -4.2114,4.08984 -9.23258,7.34956 -15.06355,9.77915 -5.79062,2.42961 -11.86463,3.64441 -18.22203,3.64441 -6.39801,0 -12.53275,-1.2148 -18.40426,-3.64441 -5.83108,-2.42959 -10.8725,-5.68931 -15.12429,-9.77915 -4.21132,-4.08982 -7.57227,-8.96927 -10.08285,-14.63837 -2.5106,-5.70954 -3.7659,-11.70256 -3.76589,-17.97907 -1e-5,-6.27643 1.25529,-12.26945 3.76589,-17.97907 2.51058,-5.70951 5.87153,-10.62945 10.08285,-14.759851 4.25179,-4.130246 9.29321,-7.410208 15.12429,-9.839898 5.87151,-2.429514 12.00625,-3.644315 18.40426,-3.644407 6.3574,9.2e-5 12.43141,1.214893 18.22203,3.644407 5.83097,2.42969 10.85215,5.709652 15.06355,9.839898 4.25171,4.130401 7.61266,9.050341 10.08285,14.759851 m -81.0273,17.97907 c -2e-5,4.98073 0.97182,9.7387 2.91552,14.27392 1.98416,4.53529 4.63647,8.46315 7.95696,11.78358 3.36092,3.27999 7.36976,5.89181 12.02654,7.83548 4.69719,1.94369 9.61713,2.91553 14.75985,2.91552 6.80283,1e-5 13.0793,-1.63997 18.82943,-4.91994 5.79048,-3.32045 10.36623,-7.79496 13.72726,-13.42357 3.36087,-5.66904 5.04134,-11.82403 5.04143,-18.46499 -9e-5,-6.68136 -1.68056,-12.8566 -5.04143,-18.52574 -3.36103,-5.669 -7.93678,-10.14352 -13.72726,-13.42356 -5.75013,-3.279885 -12.0266,-4.919867 -18.82943,-4.919949 -5.14272,8.2e-5 -10.04241,0.971923 -14.69911,2.915526 -4.65678,1.94376 -8.66562,4.555582 -12.02654,7.835473 -3.36098,3.28003 -6.03354,7.20789 -8.0177,11.78358 -1.9437,4.53532 -2.91554,9.31354 -2.91552,14.33467" />
  </g>
  <g
  id="logo-t"
  style="font-style:normal;font-weight:normal;font-size:124.39574432px;line-height:88.99999857%;font-family:Sans;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;stroke-miterlimit:4;stroke-dasharray:none;"
  transform="matrix(0.27810362,0,0,0.27504715,-610.90413,-294.37021)">
  <path
  inkscape:connector-curvature="0"
  id="path6012-7"
  style="font-variant:normal;font-weight:bold;font-stretch:normal;line-height:88.99999857%;font-family:Sawasdee;-inkscape-font-specification:'Sawasdee Bold';stroke-miterlimit:4;stroke-dasharray:none;"
  d="m 554.70256,191.4745 0,9.35397 -23.08125,0 0,81.33101 -9.47545,0 0,-81.33101 -23.14198,0 0,-9.35397 55.69868,0" />
  </g>
  <g
  id="logo-m"
  style="font-style:normal;font-weight:normal;font-size:124.39574432px;line-height:88.99999857%;font-family:Sans;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;stroke-miterlimit:4;stroke-dasharray:none;"
  transform="matrix(0.27810362,0,0,0.27504715,-573.31377,-265.44922)">
  <path
  inkscape:connector-curvature="0"
  id="path6015-9"
  style="font-variant:normal;font-weight:bold;font-stretch:normal;line-height:88.99999857%;font-family:Sawasdee;-inkscape-font-specification:'Sawasdee Bold';stroke-miterlimit:4;stroke-dasharray:none;"
  d="m 484.06181,171.44726 -9.35398,0 18.70796,-91.474606 33.22483,68.393366 33.83225,-68.393366 18.22203,91.474606 -9.77916,0 -12.2695,-59.28235 -30.30932,60.19345 -29.51969,-60.19345 -12.75542,59.28235" />
  </g>
  </g>
  <g
  transform="matrix(0.49259348,0,0,0.48717968,-618.73128,-481.94963)"
  style="fill:none;stroke:#404040;stroke-width:8.18793106;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
  id="s-circles">
  <path
  transform="matrix(0.5077783,0.87949781,-0.76377433,0.44096532,815.42467,149.53184)"
  style="stroke-miterlimit:4;stroke-dasharray:none;"
  d="m -81.822359,539.20471 c 0,10.59995 -7.462301,19.1929 -16.667517,19.1929 -9.205214,0 -16.667514,-8.59295 -16.667514,-19.1929 0,-10.59994 7.4623,-19.1929 16.667514,-19.1929 9.205216,0 16.667517,8.59296 16.667517,19.1929 z"
  id=""
  class="s-circle"
  inkscape:connector-curvature="0" />
  <path
  transform="matrix(0.5077783,0.87949781,-0.76377433,0.44096532,970.88336,419.36003)"
  style="stroke-miterlimit:4;stroke-dasharray:none;"
  d="m -81.822359,539.20471 c 0,10.59995 -7.462301,19.1929 -16.667517,19.1929 -9.205214,0 -16.667514,-8.59295 -16.667514,-19.1929 0,-10.59994 7.4623,-19.1929 16.667514,-19.1929 9.205216,0 16.667517,8.59296 16.667517,19.1929 z"
  id="path4407-4-0-361-4"
  class="s-circle"
  inkscape:connector-curvature="0" />
  <path
  transform="matrix(0.5077783,0.87949781,-0.76377433,0.44096532,664.29894,420.52449)"
  style="stroke-miterlimit:4;stroke-dasharray:none;"
  d="m -81.822359,539.20471 c 0,10.59995 -7.462301,19.1929 -16.667517,19.1929 -9.205214,0 -16.667514,-8.59295 -16.667514,-19.1929 0,-10.59994 7.4623,-19.1929 16.667514,-19.1929 9.205216,0 16.667517,8.59296 16.667517,19.1929 z"
  id="path4407-0-7-3-7"
  class="s-circle"
  inkscape:connector-curvature="0" />
  </g>
  <path
  style="stroke-miterlimit:4;stroke-dasharray:none;"
  d="m -487.25674,-289.88495 84.8094,0 0,81.61369 -84.8094,0 z"
  id="rect"
  inkscape:connector-curvature="0" />
  </g>
  </g>
  </g>
  </svg>

  <!-- <img class="logo-txt" src="assets/img/common/logo-txt.svg" alt=""> -->
  <svg
  class="logo-txt"
  width="395"
  height="158"
  id="svg3313"
  version="1.1"
  inkscape:version="0.91 r13725"
  sodipodi:docname="logo-txt.svg">
  <defs
  id="defs3315" />
  <g
  inkscape:label="Layer 1"
  inkscape:groupmode="layer"
  id="layer1"
  transform="translate(0,-894.36218)">
  <g
  transform="matrix(1.2775126,0,0,1.2775126,-344.11045,45.039754)"
  id="g3966-4">
  <g
  id="text3895-2-2"
  style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:44.91740799px;line-height:125%;font-family:Sawasdee;-inkscape-font-specification:'Sawasdee Bold';letter-spacing:0px;word-spacing:0px;fill:#333333;fill-opacity:1;stroke:none"
  transform="matrix(0,-0.74679461,0.75509346,0,-370.79224,150.0116)">
  <path
  inkscape:connector-curvature="0"
  id="path5950-9"
  style="font-size:31.44218445px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m -775.52061,1238.6134 -2.44107,0 0,-22.9215 2.44107,0 0,22.9215" />
  <path
  inkscape:connector-curvature="0"
  id="path5952-5"
  style="font-size:31.44218445px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m -771.20652,1238.6134 0,-23.1518 18.89908,17.5788 0,-17.3485 2.44107,0 0,23.1825 -18.89908,-17.5788 0,17.3178 -2.44107,0" />
  <path
  inkscape:connector-curvature="0"
  id="path5954-1"
  style="font-size:31.44218445px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m -732.33367,1224.2126 0,2.3643 -10.76219,0 0,12.0365 -2.44107,0 0,-22.9215 14.17048,0 0,2.3643 -11.72941,0 0,6.1564 10.76219,0" />
  <path
  inkscape:connector-curvature="0"
  id="path5956-1"
  style="font-size:31.44218445px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m -705.48192,1222.6313 c 0.63455,1.4432 0.95184,2.958 0.95187,4.5444 -3e-5,1.5864 -0.31732,3.1012 -0.95187,4.5444 -0.62436,1.4329 -1.47387,2.6662 -2.54853,3.7 -1.06447,1.0337 -2.33362,1.8576 -3.80745,2.4717 -1.46364,0.6141 -2.9989,0.9212 -4.60579,0.9212 -1.61716,0 -3.16777,-0.3071 -4.65185,-0.9212 -1.47386,-0.6141 -2.74813,-1.438 -3.8228,-2.4717 -1.06446,-1.0338 -1.91397,-2.2671 -2.54854,-3.7 -0.63458,-1.4432 -0.95187,-2.958 -0.95186,-4.5444 -1e-5,-1.5864 0.31728,-3.1012 0.95186,-4.5444 0.63457,-1.4431 1.48408,-2.6867 2.54854,-3.7307 1.07467,-1.0439 2.34894,-1.873 3.8228,-2.4871 1.48408,-0.6141 3.03469,-0.9211 4.65185,-0.9212 1.60689,1e-4 3.14215,0.3071 4.60579,0.9212 1.47383,0.6141 2.74298,1.4432 3.80745,2.4871 1.07466,1.044 1.92417,2.2876 2.54853,3.7307 m -20.4804,4.5444 c -10e-6,1.2589 0.24563,2.4615 0.73692,3.6079 0.50152,1.1463 1.17191,2.1391 2.0112,2.9784 0.8495,0.829 1.86277,1.4892 3.03982,1.9805 1.18726,0.4912 2.43082,0.7369 3.73069,0.7369 1.71948,0 3.30591,-0.4145 4.75931,-1.2436 1.4636,-0.8392 2.62016,-1.9702 3.4697,-3.3929 0.84949,-1.4329 1.27424,-2.9886 1.27426,-4.6672 -2e-5,-1.6888 -0.42477,-3.2496 -1.27426,-4.6826 -0.84954,-1.4329 -2.0061,-2.5638 -3.4697,-3.3929 -1.4534,-0.829 -3.03983,-1.2435 -4.75931,-1.2436 -1.29987,10e-5 -2.53832,0.2457 -3.71534,0.737 -1.17704,0.4913 -2.19032,1.1514 -3.03982,1.9805 -0.84952,0.829 -1.52503,1.8218 -2.02655,2.9784 -0.49129,1.1463 -0.73693,2.3541 -0.73692,3.6232" />
  </g>
  <g
  id="text3901-2-8"
  style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:165px;line-height:125%;font-family:Sawasdee;-inkscape-font-specification:Sawasdee;letter-spacing:0px;word-spacing:0px;fill:#333333;fill-opacity:1;stroke:none"
  transform="matrix(0.75509346,0,0,0.74679461,-370.79224,150.0116)">
  <path
  inkscape:connector-curvature="0"
  id="path5959-4"
  style="fill:#333333"
  d="m 1222.2362,798.33588 c 0,-1.82617 0.6445,-3.38378 1.9336,-4.67286 1.289,-1.34276 2.8467,-2.01414 4.6729,-2.01416 1.8261,2e-5 3.3837,0.6714 4.6728,2.01416 1.3428,1.28908 2.0141,2.84669 2.0142,4.67286 -10e-5,1.77246 -0.6714,3.35693 -2.0142,4.75341 -1.3428,1.34278 -2.9004,2.01416 -4.6728,2.01416 -1.7725,0 -3.3301,-0.67138 -4.6729,-2.01416 -1.2891,-1.39648 -1.9336,-2.98095 -1.9336,-4.75341" />
  </g>
  <g
  id="text3907-4-2"
  style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:40.58236694px;line-height:125%;font-family:Sawasdee;-inkscape-font-specification:'Sawasdee Bold';letter-spacing:0px;word-spacing:0px;fill:#333333;fill-opacity:1;stroke:none"
  transform="matrix(0.75509346,0,0,0.74679461,-368.79224,152.0116)">
  <path
  inkscape:connector-curvature="0"
  id="path5962-6"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 873.49536,825.10699 0,2.13613 -9.72352,0 0,8.73868 10.52803,0 0,2.13612 -12.7335,0 0,-20.70929 12.80286,0 0,2.13612 -10.59739,0 0,5.56224 9.72352,0" />
  <path
  inkscape:connector-curvature="0"
  id="path5964-3"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 893.30304,834.23406 -3.23193,-3.78676 2.87129,0 1.90031,2.21935 c 1.06342,-1.46107 1.59514,-3.08859 1.59516,-4.88257 -2e-5,-1.52579 -0.38378,-2.936 -1.15129,-4.23063 -0.76754,-1.2946 -1.81248,-2.31643 -3.13483,-3.06547 -1.31313,-0.74902 -2.74645,-1.12353 -4.29998,-1.12355 -1.17442,2e-5 -2.29334,0.22195 -3.35677,0.66581 -1.06344,0.44388 -1.97892,1.04033 -2.74644,1.78934 -0.76753,0.74905 -1.37785,1.64604 -1.83096,2.69096 -0.44387,1.03571 -0.66581,2.12689 -0.66581,3.27354 0,1.13743 0.22194,2.22398 0.66581,3.25967 0.45311,1.0357 1.05881,1.93269 1.81709,2.69096 0.76752,0.74903 1.683,1.34548 2.74644,1.78935 1.07268,0.44387 2.19622,0.6658 3.37064,0.6658 2.05288,0 3.86997,-0.65193 5.45127,-1.9558 m 6.21417,3.88386 -2.92676,0 -1.88645,-2.19161 c -1.97893,1.58129 -4.26301,2.37193 -6.85223,2.37193 -1.46108,0 -2.86205,-0.27742 -4.20289,-0.83225 -1.33162,-0.55484 -2.4829,-1.29924 -3.45386,-2.23322 -0.96172,-0.93397 -1.72925,-2.04827 -2.30258,-3.34289 -0.57333,-1.30386 -0.86,-2.67246 -0.85999,-4.1058 -1e-5,-1.43332 0.28666,-2.80191 0.85999,-4.10579 0.57333,-1.30385 1.34086,-2.4274 2.30258,-3.37064 0.97096,-0.9432 2.12224,-1.69223 3.45386,-2.24709 1.34084,-0.55481 2.74181,-0.83223 4.20289,-0.83225 1.45181,2e-5 2.8389,0.27744 4.16127,0.83225 1.33159,0.55486 2.47826,1.30389 3.43999,2.24709 0.97095,0.94324 1.73847,2.06679 2.30258,3.37064 0.57331,1.30388 0.85997,2.67247 0.85999,4.10579 -2e-5,2.46903 -0.78604,4.66064 -2.35805,6.57482 l 3.25966,3.75902" />
  <path
  inkscape:connector-curvature="0"
  id="path5966-6"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 901.90301,817.40863 2.20548,0 0,12.73351 c 0,1.69226 0.55021,3.12559 1.65064,4.29999 1.10967,1.16516 2.41353,1.74773 3.9116,1.74773 0.97096,0 1.87256,-0.25892 2.70483,-0.77677 0.83224,-0.52709 1.49805,-1.25763 1.99741,-2.19161 0.50859,-0.93397 0.76289,-1.96041 0.76291,-3.07934 l 0,-12.73351 2.20547,0 0,12.73351 c -2e-5,1.47032 -0.34216,2.8343 -1.02645,4.09192 -0.68431,1.25763 -1.62291,2.25634 -2.81579,2.99612 -1.18367,0.73054 -2.48291,1.0958 -3.89773,1.0958 -1.0542,0 -2.06216,-0.21731 -3.02386,-0.65193 -0.95248,-0.43462 -1.77086,-1.0172 -2.45516,-1.74774 -0.67505,-0.73978 -1.21602,-1.61364 -1.6229,-2.6216 -0.39763,-1.00795 -0.59645,-2.06214 -0.59645,-3.16257 l 0,-12.73351" />
  <path
  inkscape:connector-curvature="0"
  id="path5968-3"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 925.51133,829.82311 6.72739,0 -3.3845,-7.10192 -3.34289,7.10192 m -1.01258,2.13612 -2.56612,6.13095 -2.35806,0 9.25191,-20.88961 9.2519,20.88961 -2.37192,0 -2.60774,-6.13095 -8.59997,0" />
  <path
  inkscape:connector-curvature="0"
  id="path5970-3"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 950.60382,817.40863 0,2.13612 -5.27095,0 0,18.57317 -2.16386,0 0,-18.57317 -5.28482,0 0,-2.13612 12.71963,0" />
  <path
  inkscape:connector-curvature="0"
  id="path5972-1"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 955.04252,838.11792 -2.20548,0 0,-20.70929 2.20548,0 0,20.70929" />
  <path
  inkscape:connector-curvature="0"
  id="path5974-7"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 979.03922,823.67829 c 0.57331,1.30388 0.85998,2.67247 0.86,4.10579 -2e-5,1.43334 -0.28669,2.80194 -0.86,4.1058 -0.5641,1.29462 -1.33163,2.40892 -2.30257,3.34289 -0.96174,0.93398 -2.1084,1.67838 -3.43999,2.23322 -1.32238,0.55483 -2.70947,0.83225 -4.16128,0.83225 -1.46108,0 -2.86204,-0.27742 -4.20289,-0.83225 -1.33161,-0.55484 -2.4829,-1.29924 -3.45386,-2.23322 -0.96172,-0.93397 -1.72924,-2.04827 -2.30257,-3.34289 -0.57333,-1.30386 -0.86,-2.67246 -0.86,-4.1058 0,-1.43332 0.28667,-2.80191 0.86,-4.10579 0.57333,-1.30385 1.34085,-2.4274 2.30257,-3.37064 0.97096,-0.9432 2.12225,-1.69223 3.45386,-2.24709 1.34085,-0.55481 2.74181,-0.83223 4.20289,-0.83225 1.45181,2e-5 2.8389,0.27744 4.16128,0.83225 1.33159,0.55486 2.47825,1.30389 3.43999,2.24709 0.97094,0.94324 1.73847,2.06679 2.30257,3.37064 m -18.50381,4.10579 c 0,1.13743 0.22193,2.22398 0.6658,3.25967 0.45312,1.0357 1.05881,1.93269 1.81709,2.69096 0.76752,0.74903 1.683,1.34548 2.74645,1.78935 1.07267,0.44387 2.19622,0.6658 3.37063,0.6658 1.55353,0 2.98686,-0.37451 4.29999,-1.12354 1.32234,-0.75828 2.36728,-1.7801 3.13483,-3.06548 0.7675,-1.29461 1.15126,-2.7002 1.15128,-4.21676 -2e-5,-1.52579 -0.38378,-2.936 -1.15128,-4.23063 -0.76755,-1.2946 -1.81249,-2.31643 -3.13483,-3.06547 -1.31313,-0.74902 -2.74646,-1.12353 -4.29999,-1.12355 -1.17441,2e-5 -2.29333,0.22195 -3.35676,0.66581 -1.06345,0.44388 -1.97893,1.04033 -2.74644,1.78934 -0.76753,0.74905 -1.37785,1.64604 -1.83097,2.69096 -0.44387,1.03571 -0.6658,2.12689 -0.6658,3.27354" />
  <path
  inkscape:connector-curvature="0"
  id="path5976-6"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 983.18663,838.11792 0,-20.91735 17.07507,15.8822 0,-15.67414 2.2055,0 0,20.9451 -17.07509,-15.88221 0,15.6464 -2.20548,0" />
  <path
  inkscape:connector-curvature="0"
  id="path5978-2"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 1018.3772,821.667 -2.0668,0.70742 -0.1526,-0.45774 c -0.2959,-0.83224 -0.7675,-1.46568 -1.4148,-1.90032 -0.6473,-0.4346 -1.3548,-0.65191 -2.1223,-0.65193 -0.897,2e-5 -1.6275,0.28669 -2.1916,0.86 -0.5641,0.5641 -0.8461,1.25302 -0.8461,2.06677 0,0.43463 0.111,0.82764 0.3329,1.17902 0.2312,0.35142 0.5363,0.65195 0.9155,0.90161 0.3791,0.24969 0.8183,0.49012 1.3177,0.72129 0.4994,0.22195 1.0218,0.44851 1.5674,0.67968 0.5456,0.22194 1.0912,0.45775 1.6368,0.70741 0.5456,0.24045 1.068,0.53173 1.5674,0.87387 0.4993,0.33292 0.9386,0.70743 1.3177,1.12355 0.3792,0.40689 0.6797,0.91086 0.9017,1.51193 0.2311,0.59183 0.3467,1.24839 0.3467,1.96967 0,1.22989 -0.3283,2.34419 -0.9848,3.34289 -0.6566,0.98946 -1.5073,1.74774 -2.5523,2.27483 -1.0449,0.51785 -2.1638,0.77678 -3.3567,0.77678 -0.786,0 -1.5397,-0.12484 -2.261,-0.37452 -0.7213,-0.24968 -1.3963,-0.61957 -2.0251,-1.10967 -0.6196,-0.49011 -1.1513,-1.14204 -1.5952,-1.9558 -0.4439,-0.82301 -0.7398,-1.76161 -0.8877,-2.8158 l -0.069,-0.47161 2.1777,-0.26355 0.069,0.44387 c 0.111,0.74904 0.3144,1.41484 0.6103,1.99741 0.2959,0.57334 0.652,1.03108 1.0681,1.37322 0.4161,0.33291 0.8692,0.58721 1.3593,0.7629 0.4901,0.16646 1.008,0.24968 1.5536,0.24968 1.2668,0 2.3673,-0.39763 3.3013,-1.1929 0.9432,-0.79526 1.4148,-1.82633 1.4148,-3.09321 0,-0.6843 -0.185,-1.28537 -0.5548,-1.80322 -0.3607,-0.51784 -0.8323,-0.93859 -1.4149,-1.26226 -0.5733,-0.33289 -1.216,-0.64267 -1.928,-0.92935 -0.7028,-0.2959 -1.4056,-0.60106 -2.1084,-0.91548 -0.7028,-0.3144 -1.3455,-0.66579 -1.9281,-1.05419 -0.5733,-0.38837 -1.0449,-0.89235 -1.4148,-1.51193 -0.3607,-0.6288 -0.541,-1.35471 -0.541,-2.17774 0,-1.39632 0.4855,-2.58459 1.4565,-3.56482 0.9709,-0.98944 2.2193,-1.48417 3.7451,-1.48419 1.2114,2e-5 2.3349,0.35141 3.3707,1.05419 1.0356,0.70281 1.7754,1.69227 2.2193,2.96837 l 0.1665,0.44387" />
  <path
  inkscape:connector-curvature="0"
  id="path5980-4"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 1053.0545,823.67829 c 0.5733,1.30388 0.8599,2.67247 0.86,4.10579 -1e-4,1.43334 -0.2867,2.80194 -0.86,4.1058 -0.5641,1.29462 -1.3317,2.40892 -2.3026,3.34289 -0.9617,0.93398 -2.1084,1.67838 -3.44,2.23322 -1.3224,0.55483 -2.7095,0.83225 -4.1613,0.83225 -1.4611,0 -2.862,-0.27742 -4.2029,-0.83225 -1.3316,-0.55484 -2.4829,-1.29924 -3.4538,-2.23322 -0.9617,-0.93397 -1.7293,-2.04827 -2.3026,-3.34289 -0.5733,-1.30386 -0.86,-2.67246 -0.86,-4.1058 0,-1.43332 0.2867,-2.80191 0.86,-4.10579 0.5733,-1.30385 1.3409,-2.4274 2.3026,-3.37064 0.9709,-0.9432 2.1222,-1.69223 3.4538,-2.24709 1.3409,-0.55481 2.7418,-0.83223 4.2029,-0.83225 1.4518,2e-5 2.8389,0.27744 4.1613,0.83225 1.3316,0.55486 2.4783,1.30389 3.44,2.24709 0.9709,0.94324 1.7385,2.06679 2.3026,3.37064 m -18.5038,4.10579 c -10e-5,1.13743 0.2219,2.22398 0.6658,3.25967 0.4531,1.0357 1.0588,1.93269 1.817,2.69096 0.7676,0.74903 1.683,1.34548 2.7465,1.78935 1.0727,0.44387 2.1962,0.6658 3.3706,0.6658 1.5536,0 2.9869,-0.37451 4.3,-1.12354 1.3224,-0.75828 2.3673,-1.7801 3.1348,-3.06548 0.7675,-1.29461 1.1513,-2.7002 1.1513,-4.21676 0,-1.52579 -0.3838,-2.936 -1.1513,-4.23063 -0.7675,-1.2946 -1.8124,-2.31643 -3.1348,-3.06547 -1.3131,-0.74902 -2.7464,-1.12353 -4.3,-1.12355 -1.1744,2e-5 -2.2933,0.22195 -3.3567,0.66581 -1.0635,0.44388 -1.979,1.04033 -2.7465,1.78934 -0.7675,0.74905 -1.3778,1.64604 -1.8309,2.69096 -0.4439,1.03571 -0.6659,2.12689 -0.6658,3.27354" />
  <path
  inkscape:connector-curvature="0"
  id="path5982-4"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 1069.1309,825.10699 0,2.13613 -9.7235,0 0,10.8748 -2.2055,0 0,-20.70929 12.8028,0 0,2.13612 -10.5973,0 0,5.56224 9.7235,0" />
  <path
  inkscape:connector-curvature="0"
  id="path5984-0"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 1094.5285,817.40863 0,2.13612 -5.2709,0 0,18.57317 -2.1639,0 0,-18.57317 -5.2848,0 0,-2.13612 12.7196,0" />
  <path
  inkscape:connector-curvature="0"
  id="path5986-9"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 1109.9946,817.40863 2.2055,0 0,20.70929 -2.2055,0 0,-10.8748 -11.0274,0 0,10.8748 -2.2055,0 0,-20.70929 2.2055,0 0,7.69836 11.0274,0 0,-7.69836" />
  <path
  inkscape:connector-curvature="0"
  id="path5988-9"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 1127.9991,825.10699 0,2.13613 -9.7235,0 0,8.73868 10.528,0 0,2.13612 -12.7335,0 0,-20.70929 12.8028,0 0,2.13612 -10.5973,0 0,5.56224 9.7235,0" />
  <path
  inkscape:connector-curvature="0"
  id="path5990-3"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 1142.8132,838.11792 -2.1361,0 4.2722,-20.88961 7.5874,15.61866 7.7261,-15.61866 4.1613,20.88961 -2.2332,0 -2.8019,-13.53802 -6.9216,13.74608 -6.7413,-13.74608 -2.9129,13.53802" />
  <path
  inkscape:connector-curvature="0"
  id="path5992-0"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 1171.0267,829.82311 6.7274,0 -3.3845,-7.10192 -3.3429,7.10192 m -1.0126,2.13612 -2.5661,6.13095 -2.3581,0 9.2519,-20.88961 9.2519,20.88961 -2.3719,0 -2.6077,-6.13095 -8.6,0" />
  <path
  inkscape:connector-curvature="0"
  id="path5994-8"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 1196.1192,817.40863 0,2.13612 -5.271,0 0,18.57317 -2.1638,0 0,-18.57317 -5.2849,0 0,-2.13612 12.7197,0" />
  <path
  inkscape:connector-curvature="0"
  id="path5996-9"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 1198.3524,838.11792 0,-20.70929 7.6984,0 c 1.5905,2e-5 2.9406,0.56411 4.0503,1.69225 1.1096,1.11894 1.6645,2.46904 1.6645,4.05031 0,1.25765 -0.3653,2.38581 -1.0958,3.38451 -0.7213,0.98947 -1.6599,1.67377 -2.8158,2.0529 l 5.368,9.52932 -2.5106,0 -5.2155,-9.27965 -4.938,0 0,9.27965 -2.2055,0 m 2.2055,-11.42964 5.5622,0 c 0.934,1e-5 1.7385,-0.34214 2.4136,-1.02645 0.6843,-0.69353 1.0264,-1.53041 1.0264,-2.51064 0,-0.99869 -0.3421,-1.84944 -1.0264,-2.55225 -0.6843,-0.70277 -1.512,-1.05417 -2.4829,-1.05419 l -5.4929,0 0,7.14353" />
  <path
  inkscape:connector-curvature="0"
  id="path5998-5"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 1217.6468,838.11792 -2.2054,0 0,-20.70929 2.2054,0 0,20.70929" />
  <path
  inkscape:connector-curvature="0"
  id="path6000-1"
  style="font-size:28.4076519px;-inkscape-font-specification:'Sawasdee Bold';fill:#333333"
  d="m 1220.7123,817.40863 2.4552,0 3.7451,7.19901 3.759,-7.19901 2.4829,0 -4.9935,9.57094 5.7981,11.13835 -2.4552,0 -4.5913,-8.76642 -4.5635,8.76642 -2.4413,0 5.8119,-11.13835 -5.0074,-9.57094" />
  </g>
  <g
  style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:99.39537811px;line-height:125%;font-family:Sawasdee;-inkscape-font-specification:'Sawasdee Bold';letter-spacing:0px;word-spacing:0px;fill:#404040;fill-opacity:1;stroke:none"
  id="text3929-0">
  <path
  d="m 320.74578,706.39351 0,4.36796 -34.74956,0 0,35.52609 37.56446,0 0,4.36796 -41.93242,0 0,-72.45962 42.12656,0 0,4.36796 -37.7586,0 0,23.82965 34.74956,0"
  style="font-weight:normal;-inkscape-font-specification:Sawasdee"
  id="path3032"
  inkscape:connector-curvature="0" />
  <path
  d="m 355.10707,680.47694 c 4.5297,-1.94124 9.28592,-2.9119 14.26867,-2.91197 4.98266,7e-5 9.73888,0.97073 14.26867,2.91197 4.56203,1.94139 8.47702,4.56216 11.74497,7.86233 3.30016,3.3003 5.92093,7.23146 7.86233,11.7935 1.94123,4.56214 2.91189,9.35071 2.91197,14.36574 -8e-5,5.01509 -0.97074,9.80367 -2.91197,14.36574 -1.9414,4.52975 -4.56217,8.44473 -7.86233,11.74496 -3.26795,3.30024 -7.18294,5.92102 -11.74497,7.86233 -4.52979,1.94131 -9.28601,2.91197 -14.26867,2.91197 -4.98275,0 -9.73897,-0.97066 -14.26867,-2.91197 -4.52976,-1.94131 -8.42857,-4.56209 -11.69643,-7.86233 -3.2679,-3.30023 -5.87249,-7.21521 -7.8138,-11.74496 -1.94132,-4.56207 -2.91198,-9.35065 -2.91197,-14.36574 -10e-6,-5.01503 0.97065,-9.8036 2.91197,-14.36574 1.94131,-4.56204 4.5459,-8.4932 7.8138,-11.7935 3.26786,-3.30017 7.16667,-5.92094 11.69643,-7.86233 m -18.10277,34.02157 c -10e-6,4.40035 0.84122,8.60653 2.52371,12.61855 1.71481,4.01207 4.01203,7.47408 6.89167,10.38604 2.8796,2.91199 6.32543,5.24156 10.33751,6.98874 4.01202,1.71483 8.2182,2.57225 12.61855,2.57224 4.43263,10e-6 8.65498,-0.85741 12.66709,-2.57224 4.01199,-1.74718 7.45782,-4.07675 10.33751,-6.98874 2.87955,-2.91196 5.17677,-6.37397 6.89167,-10.38604 1.71475,-4.01202 2.57217,-8.2182 2.57224,-12.61855 -7e-5,-5.92097 -1.43988,-11.37283 -4.31943,-16.35559 -2.87968,-5.01501 -6.82702,-8.97852 -11.84202,-11.89056 -4.98277,-2.91191 -10.41845,-4.36789 -16.30706,-4.36796 -5.88869,7e-5 -11.32437,1.45605 -16.30705,4.36796 -4.95038,2.91204 -8.86536,6.87555 -11.74496,11.89056 -2.87963,4.98276 -4.31944,10.43462 -4.31943,16.35559"
  style="font-weight:normal;-inkscape-font-specification:Sawasdee"
  id="path3034"
  inkscape:connector-curvature="0" />
  <path
  d="m 456.97762,678.1959 0,4.36796 -18.78223,0 0,68.09166 -4.36796,0 0,-68.09166 -18.83077,0 0,-4.36796 41.98096,0"
  style="font-weight:normal;-inkscape-font-specification:Sawasdee"
  id="path3036"
  inkscape:connector-curvature="0" />
  <path
  d="m 465.85914,750.65552 -4.27089,0 13.88041,-73.33321 26.45043,62.89863 26.88722,-62.89863 13.49215,73.33321 -4.56209,0 -10.62871,-58.23948 -25.47977,59.06454 -24.70324,-59.06454 -11.06551,58.23948"
  style="font-weight:normal;-inkscape-font-specification:Sawasdee"
  id="path3038"
  inkscape:connector-curvature="0" />
  </g>
  </g>
  </g>
  </svg>

  <div class="edge-loader">
    <img src="assets/img/common/edgeloader.gif" alt="">
  </div>


  </div>
  </div>

</div>

<script type="text/javascript">
var isEdge = window.navigator.userAgent.indexOf("Edge") > -1 ? true : false;
var isFirefox = window.navigator.userAgent.indexOf("Firefox") > -1 ? true : false;
var isChrome = window.navigator.userAgent.indexOf("Chrome") > -1 ? true : false;
var $body = document.getElementsByTagName('body')[0];
if (isFirefox){
  $body.classList.add('fox-fix');
}else if(isEdge){
  $body.classList.add('edge-fix');
}else if(isChrome){
  //function
}
</script>

<script src="assets/js/common/common.min.js"></script>
<script src="/assets/src/main-e7bc1a4bbe.min.js"></script>
<script src="/assets/src/appEOTM-806fd67a94.js"></script>

</body>

</html>
