<div class="" ng-controller="menuCtrl as vm" >

  <div  id="menu" class="" ng-class="{'hidden': vm.menuShow == false , 'hidden-first': vm.menuHiddenFirst }  "  ng-mouseover="vm.menuShow = true" >

    <div class="menu-wrapper">
      <!-- <div class="menu-hidden-container">
        <span class="tri-wrapper" ng-include="vm.triGSvg"> </span>
        <span class="tri-wrapper" ng-include="vm.triPSvg"> </span>
        <span class="tri-wrapper" ng-include="vm.triGSvg"> </span>
        <span class="tri-wrapper" ng-include="vm.triPSvg"> </span>
      </div> -->

      <div class="menu-logo" ui-sref="home" >
        <div class="" ng-include="vm.menuLogoSvg"></div>
      </div>

      <div class="menu-tabs-wrapper">
        <div  ng-repeat = "m in vm.menuData" class="menu-tab {{m.category}} " ui-sref="{{m.category}}" ng-class="{ 'active': vm.menuActive.main == m.category}">
          <span class="menu-txt">{{m.category}}</span>
        </div>
      </div>

      <div class="social-wrapper search-btn-wrapper" >
        <div class="search-btn" ng-click="vm.search.open = !vm.search.open">
          <span class="txt">Search</span>
          <i class="fas fa-search"></i>
        </div>
      </div>

      <div class="" id="switch" ng-click="vm.checkLocalAndSwitch()">
        <span class="switch-txt">Switch&nbsp;color</span>
        <div class="switch-wrapper" ng-include="vm.menuSwitchSvg"></div>
      </div>

      <div class="sub-menu-wrapper" ng-class="{'empty' : !vm.subMenuData}">
        <div class="sub-menu {{sub}}" ng-repeat="sub in vm.subMenuData.subcategories" ui-sref="{{vm.subMenuData.category}}.category({ category : '{{sub}}' })" ng-class="{ 'active': vm.menuActive.subm == sub}">
          {{sub}}
        </div>
      </div>

    </div>

  </div>

  <div class="pseudo-menu"></div>

  <div class="" ng-include="vm.menuMobile"> </div>

  <div class="" ng-include="vm.menuSearch"> </div>

</div>
