<div id="menuHeaderWrapper" >
  <div class="logo" ui-sref="home" > </div>
  <span class="toggle-txt" id="menuMobileState">{{vm.menuActive.mobileState}}</span>

  <div class="search-btn-wrapper" >
    <div class="search-btn" ng-click="vm.search.open = !vm.search.open">
      <span class="txt">Search</span>
      <i class="fas fa-search"></i>
    </div>
  </div>

  <div class="menu-close" id="menuMobileToggle" ng-click="vm.menuMobileToggle()">
    <div class="" ng-include="vm.menuMobileToggleSvg"> </div>
  </div>
</div>

<div id="menuMobile">
  <div class="m-mob-wrapper">
    <div class="logo">
    </div>
    <div class="m-mob-tabs-wrapper">
      <div  ng-repeat = "m in vm.menu" class="m-mob-tab {{m.category}} "  >
        <span class="menu-txt" ui-sref="{{m.category}}" >{{m.category}}</span>
        <div class="sub-menu-tab" ng-repeat = "subm in m.subcategories" ui-sref="{{m.category}}.category({ category : '{{subm}}' })">
          {{subm}}
        </div>
      </div>
    </div>

    <div class="social-wrapper">
      <div class="social-icon">
        <a title="Pinterest" href="https://www.pinterest.com/eotminfo/" target="_blank"><i class="fab fa-pinterest-p"></i></a>
      </div>
      <div class="social-icon">
        <a title="Youtube" href="http://www.youtube.com/channel/UCjxUu6OP3rC_gk9PUHd-fgA" target="_blank" class="social-icon"><i class="fab fa-youtube"></i></a>
      </div>
      <div class="social-icon">
        <a title="Facebook" href="https://www.facebook.com/eotm.info" target="_blank" class="social-icon">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
      <div class="social-icon">
        <a title="Instagram" href="https://www.instagram.com/eotm.info/" target="_blank" class="social-icon">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>

    <div class="" id="switchMobile" ng-click="vmcheckLocalAndSwitch()">
      <span class="switch-txt">Switch&nbsp;color</span>
      <div class="switch-wrapper" ng-include="vm.menuSwitchSvg">
      </div>
    </div>

  </div>
</div>
