<div id="article" class="loading">
  <div class="article-wrapper about-wrapper">
    <h2 class="a-head">
      <span>
        About
      </span>
    </h2>
      <p class="a-describe">Equations Of The Matrix is an platform for sharing knowledge, inspiration, works, projects and events.</p>
      <p class="a-describe">Purpose of EOTM.info is to help One recognize the inner strength, accept One's individuality, connection to the world around us. To break the pattern of being an victim of circumstances and become a creator of One's life.</p>
      <p class="a-describe">Our goal is to spread and share interesting documentaries and lectures and create new art project. We are currently also working on creating products which will help spreading the message of EOTM.INFO.</p>
      <br>
    <p class="a-describe">Don't hesitate to send us interesting links to share, lectures, films, documentaries, artists, paintings, graphics or photos.</p>
    <p class="a-describe"> For all inquires please send email to: <strong> hello@eotm.info </strong> or contact us on our social: </p>
    <div class="social-wrapper">
      <div class="social-icon">
        <a title="Pinterest" href="https://www.pinterest.com/eotminfo/" target="_blank"><i class="fab fa-pinterest-p"></i></a>
      </div>
      <div class="social-icon">
        <a title="Youtube" href="http://www.youtube.com/channel/UCjxUu6OP3rC_gk9PUHd-fgA" target="_blank" class="social-icon"><i class="fab fa-youtube"></i></a>
      </div>
      <div class="social-icon">
        <a title="Facebook" href="https://www.facebook.com/eotm.info" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
      </div>
      <div class="social-icon">
        <a title="Instagram" href="https://www.instagram.com/eotm.info/" target="_blank" class="social-icon">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>

  </div>

</div>
