#article{
  .about-wrapper{
    text-align: center;
    .a-describe{
      text-align: center;
    }
    .social-wrapper{
      display: block;
      position: relative;
      right: 0;
      left: 0;
      margin: 0 auto;
      .social-icon {
        line-height: 50px;
        height: 50px;
        text-align: center;
        margin: 0 35px;
        @include respond-width($w650) {
          margin: 0 15px;
        }
        a{
          position: relative;
          text-align: center;
          margin:  0 auto;
          display: block;
          color: $grey-mid;
          font-size: 26px;
          transition: ease all 0.3s;
          top: 0;
          &:hover{
            transition: ease all 0.3s;
            top: 3px;
          }
          i{
            line-height: 40px;
            width: 40px;
            height: 40px;
            text-align: center;
            color: $grey-mid;
          }
        }
      }
    }
  }
}
