



.view-animate.ng-enter:not(.delay) {
  animation: 0.5s article-in;
  #article{
  }
}


#articleView{
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;

  @include respond-width($width-3thumbs) {
    width: 1125px;
  }
  @include respond-width(1200px) {
    width: 735px;
  }
  @include respond-width(790px) {
    width: 100%;
  }
}

#article{
  text-align: center;
  @include respond-width($w650) {
    padding: 0 10px;
  }
  &.loading{
    .a-head{
      span{
        &:after{
          opacity: 1;
          transition: ease all 0s;
        }
      }
    }
  }

  .article-wrapper{
    padding: 0px 0 25px 0;
    margin: 0 auto 25px;
    border-bottom: 2px solid $grey-mid;
    opacity: 1;
    transition: ease all 0.3s;
  }
  .article-txt-wrapper{
    max-width: 950px;
    margin: 0 auto;
  }
  .a-head{
    border-bottom: 2px solid $grey-mid;
    border-top: 2px solid $grey-mid;
    text-transform: uppercase;
    position: relative;
    margin-top: 0px;
    font-size: 26px;
    @include respond-width($w650) {
      font-size: 20px;
      overflow: hidden;
    }
    span{
      position: relative;
      // vertical-align: middle;
      margin: 0px 0 10px;
      padding:  10px 0 5px 0;
      display: inline-block;
      margin: 0 auto;
      &:after{
        opacity: 0;
        vertical-align: middle;
        transition: ease all 1s;
        display: inline-block;
        position: absolute;
        height: 100%;
        width: 50px;
        content: '';
        background: url('../img/common/imgloader.svg') no-repeat 50% 50%;
        background-size: contain;
        right: -70px;
        top: 50%;
        transform: translate(0px,-50%);
        @include respond-width($w650) {
          right: -30px;
          height: 30px;
          width: 30px;
          // display: none;
        }
      }
    }
    @include respond-width($w1450) {
      font-size: 18px;
    }
    @include respond-width($w650) {
      font-size: 14px;
    }
  }
  .a-shop-link{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 0px;
    a{
      color: $grey-mid;
      position: relative;
      left: 0px;
      transition: ease all 0.3s;
      &:hover{
        left: 3px;
      }
    }
  }
  .a-source,
  .a-book-review,
  .a-vid-desc,
  .a-describe{
    margin: 25px 0;
    font-size: 20px;
    text-align: justify;
    @include respond-width($w1450) {
      font-size: 18px;
    }
    @include respond-width($w650) {
      font-size: 13px;
    }
  }
  .a-source{
    font-size: 14px;
    margin: 5px 0;
    text-align: center;
    @include respond-width($w650) {
      overflow: hidden;
      max-width: 100%;
      position: relative;
      display: block;
    }
    a{
      color: inherit;
      text-decoration: none;
    }
    .a-source-link{
      max-width: 100%;
      overflow: hidden;
    }
  }
  .a-gallery{
    margin: 25px 0 0px 0;
    padding: 15px 0 0px;
    // @include respond-width($w650) {
    //   display: none;
    // }
    // &.mobile-rwd{
    //   display: none;
    //   @include respond-width($w650) {
    //     display: block;
    //   }
    // }
    &.mobile-gal-small{
      animation: galMoveInSm 0.35s;
      animation-fill-mode: forwards;
    }
    &.mobile-gal-big{
      animation: galMoveInBg 0.35s;
      animation-fill-mode: forwards;
      .a-img{
        img{
          @include respond-width($w650) {
            height: auto;
            width: 100%;
            max-width: 375px;
          }
        }
      }
    }
    .a-img{
      display: inline-block;
      position: relative;
      &:hover{
        img{
          z-index: 5;
          transform: scale(1.02);
          transition: all 0.35s ease;
          // border: solid 2px $grey-mid;
          @include respond-width($w650) {
            transform: scale(1);
            transition: ease all 0s;
            border: 0px solid transparent;
          }
        }
      }
      .loader{
        display: block;
        background: url('../img/common/imgloader.svg') 50% 50%;
        background-size: contain;
        height: 50px;
        width: 50px;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        margin: 0 auto;
        transform: translate(0,-50%);
        @include respond-width($w650){
          height: 30px;
          width: 30px;
        }
      }

      img{
        cursor: pointer;
        margin: 0px 3px;
        height: 250px;
        min-height: 0px;
        width: auto;
        padding: -1px;
        transition: all 0.25s ease;
        border: solid 2px transparent;
        border-radius: 5px;
        transition: ease all 0.3s;
        bottom: 0;
        position: relative;
        @include respond-width($w1370) {
          height: 235px;
        }
        @include respond-width($w650) {
          padding: 0px;
          border: 0px solid transparent;
          margin:  0px 2px;
          max-width: 100%;
          height: 75px;
        }
        &.loading{
          min-height: 250px;
          width: 300px;
          bottom: 20px;
          border: solid 2px $grey-mid;
          opacity: 0;
          transition: ease all 0.3s;
          @include respond-width($w650) {
            min-height: 50px;
            width: 75px;
          }
        }
      }
    }
  }
  .a-main-pic{
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
    @include respond-width($w650) {
      padding-bottom: 0px;
      margin-bottom: 5px;
    }
    img{
      max-height: 65vh;
      max-width: 777px;
      margin: 0 0 0px 0;
      position: relative;
      cursor: pointer;
      border-radius: 5px;
      transition: ease all 0.3s;
      opacity: 1;
      bottom: 0;
      @include respond-width(800px) {
        max-width: 500px;
      }
      @include respond-width($w650) {
        max-width: 375px;
        width: 100%;
        height: auto;
      }
      &:hover{
        transform: scale(1.01);
      }
      &.loading{
        bottom: 20px;
        opacity: 0;
        transition: ease all 0.3s;
      }
    }


    .loader{
      display: block;
      background: url('../img/common/imgloader.svg') 50% 50%;
      background-size: contain;
      height: 50px;
      width: 50px;
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      margin: 0 auto;
      transform: translate(0,-50%);
      @include respond-width($w650){
        height: 30px;
        width: 30px;
      }
    }
  }

  .a-vid{
    width: 640px;
    height: 390px;
    max-width: 100%;
    margin: 65px auto 10px;

    // min-height: 400px;
    @include respond-width($w650) {
      max-height: 200px;
      max-width: 100%;
    }
  }
}

// view animate

@keyframes article-in {
  0%   { opacity:0;  transform: scale(1) translate(0vh, 50px); }
  100%   {opacity:1;  transform: scale( 1 ) translate(0,0); }
}
@keyframes article-in-delay {
  0%   { opacity:0;  transform: scale(1) translate(0vh, 0px); }
  50%   { opacity:0;  transform: scale(1) translate(0vh, 50px); }
  100%   {opacity:1;  transform: scale( 1 ) translate(0,0); }
}
@keyframes article-out {
  0%   { opacity:1;  transform: scale(1) translate(0vh, 0px); }
  100%   {opacity:0;  transform: scale( 1 ) translate(50vh,0); }
}
