#coherence{
  position: relative;
  display: block;
  padding-top: 150px;
  &.full-scr{
    display: fixed;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  &.breath-in{
    background: $green;
    transition: ease all 0.3s;
  }
  &.breath-out{
    background: $purple;
    transition: ease all 0.3s;
  }
  .coh-wrapper{
    position: relative;
    height: 200px;
    top: 50%;
    transform: translate(0,-50%);
  }
  .coherence-count{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    font-weight: 600;
  }
  .coh-breaths{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .btn{
    cursor: pointer;
    width: 200px;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 5px;
    border: 2px solid $grey-mid;
  }
  #countShow{
    &.hide{
      display: none;
    }
  }
}
