$grey: rgb(210, 210, 210);
$grey-dark: rgb(60, 60, 60);
$grey-light: rgb(229, 229, 229);
$grey-mid: rgb(145, 145,145);
$blue: rgb(58, 189, 152);
$green: rgb(0, 221, 118);
$purple: rgb(137, 85, 193);


@font-face {
    font-family: "sawasdee";
    src: url('../fonts/Sawasdee.ttf');
}
@mixin respond-width($media) {
     @media (max-width: $media - 1px){
        @content;
    }
}

@mixin respond-height($media) {
     @media (max-height: $media - 1px){
        @content;
    }
}

@mixin respond-thumbs($media, $media2) {
     @media (max-width: $media) and (min-width: $media2){
        @content;
    }
}

$width-3thumbs: 1550px;
$width-2thumbs: 1150px;
$width-1thumb: 765px;
$w650: 650px;
$w991:991px;
$w1650: 1650px;
$w1450: 1450px;
$w1370: 1370px;
$w1200:1200px;
$w768: 768px;
$w800: 800px;
$w550: 550px;
$w480: 480px;
$w400: 400px;
$w330: 330px;

$h500: 500px;
