#bodyWrapper.edge-fix{
  #loaderMain{
    .edge-loader{
      display: block;
    }
  }
  #menu{
    .menu-logo{
      svg{
        #triangle{
          opacity: 0;
          transform: translate(-100px,-220px);
          transition: ease all 0.25s;
        }
        #circle{
          opacity: 0;
          transform: matrix(0.23100085,0.39570789,-0.37926641,0.216563,-322.34362,-362.18891) translate(-350px,-200px);
          transition: ease all 0.25s;
        }
        #hexagram{
          opacity: 0;
          transform: translate(-100px,-220px);
          transition: ease all 0.25s;
        }
        #s-circles{
          opacity: 0;
          transform: matrix(0.49259348,0,0,0.48717968,-618.73128,-481.94963) translate(-100px,-250px);
          transition: ease all 0.25s;
        }
      }
    }
  }
  #article{
    .a-head{
      span{
        &:after{
          background: url('../img/common/edgeloader.gif') no-repeat 50% 50%;
          background-size: contain;
          right: -70px;
          top: 50%;
          transform: translate(0px,-50%);
          @include respond-width($w650) {
            right: -40px;
            // display: none;
          }
        }
      }
    }
    .a-main-pic{
      img{
        &:hover{
          transform: none !important;
        }
      }
    }

  }
  #gallerySlider{
    .gs-close{
      &:before{
        content: url('../img/common/mobile-menu-close.png');
        width: 40px;
        height: 40px;
        position: relative;
        display: block;
        top: 0;
        right: 0;
      }
      svg{
        display: none;
      }
    }
    .gs-img-loader{
      &:before{
        content: '';
        background: rgba(150,150,150,0.5) url('../img/common/edgeloader.gif');
        background-size: contain;
        width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 45%;
        transform: translate(0 -50%);
        right: 0;
        left: 0;
        margin: 0 auto;
      }
      svg{
        display: none;
      }
    }
  }
}
