
#gallerySlider{
  opacity: 0.5;
  transition: 0.35s ease all;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 0px;
  overflow: hidden;
  background: rgba(0,0,0, 0.75);
  position: fixed;
  z-index: 34;
  @include respond-width($w650) {
    display: none;
  }
  &.show{
    opacity: 1;
    height: 100%;
    transition: 0.35s ease all;
  }

  .gallery-overlay{
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
  }
  .gs-img-wrapper{
    margin: 0 auto;
    width: 85%;
    top: 50%;
    transform: translate(0, -50%);
    position: relative;
    #gallerySliderImg{
      max-width: 100%;
      max-height: 90vh;
      position: relative;
      // border: 2px solid $grey-mid;
      border-radius: 10px;
      z-index: 3;
      opacity: 0;
      &.move-out{
        animation: imgMoveOut 0.35s;
        animation-fill-mode: forwards;
      }

      &.move-in{
        animation: imgMoveIn 0.35s;
        animation-fill-mode: forwards;
      }
    }
    .gs-img-loader{
      position: absolute;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      z-index: 3;
      background: transparent;
      opacity: 0;
      transition: ease all 0.2s;
      &.show{
        transition: ease all 0.2s;
        opacity: 1;
      }
      #loaderMainSvg{
        top: 53%;
        transform: translate(0,-50%);
        transition: ease all 0.35s;
        position: relative;
        #triangle{
          stroke: $grey-mid;
          stroke-width: 4px;
          display: none;
        }
        #circle{
          stroke: $grey-mid;
          stroke-width:9px;
          stroke-opacity:1;
          display: none;
        }
        #hexagram{
          stroke: $grey-mid;
          stroke-width:4px;
          stroke-opacity:1;
          display: none;
        }
        #logo-e, #logo-e path,
        #logo-o, #logo-o path,
        #logo-t, #logo-t path,
        #logo-m, #logo-m path{
          fill-opacity:1;
          stroke-opacity:1;
          stroke-width:4px;
          fill: $grey-mid;
          font-size:124.4px;
          stroke: $grey-mid;
          display: none;
        }
        #logo{
          stroke: $grey-mid;
        }
        #s-circles{
          .s-circle{
            stroke: $grey-mid;
            stroke-width:8.65176868px;
            stroke-opacity:1;
            &:nth-child(1){
              animation: cir-s-move-1c 1.5s infinite;
            }
            &:nth-child(2){
              animation: cir-s-move-2c 1.5s infinite;
            }
            &:nth-child(3){
              animation: cir-s-move-3c 1.5s infinite;
            }
          }
        }
        #rect{
          fill:none;
          stroke-width:4.011096px;
          stroke-opacity:1;
          display: none;
        }
      }
    }
  }
  .gs-close{
    position: absolute;
    top: 25px;
    right: 25px;
    width: 35px;
    z-index: 99;
    cursor: pointer;
    svg{
      width: 100%;
      *{
        transition: all ease .3s;
      }
      .circle{
        stroke-width: 3px;
        stroke: $grey-mid;
      }
      .rect{
        fill: $grey-mid;
        &.three{
          display: none;
        }
        &.one{
          transform: translate(18px,-3px) rotate(45deg);
        }
        &.two{
          transform: translate(-10px,26px) rotate(-45deg);
        }
      }
    }
    &:hover{
      svg{
        *{
          transition: all ease .3s;
        }
        .circle{
          stroke-width: 4px;
        }
        .rect{
          &.one{
            transform: translate(0px,5px) rotate(0deg);
            opacity: 0;
          }
          &.two{
            transform: translate(0px, 0px);
            // transform: translate(-10px,26px) rotate(-45deg);
          }
        }
      }
    }
  }
  .gs-btn{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 5;
    img{
      height: 100%;
      position: absolute;
      top: 0;
      transition: ease all 0.3s;
    }
    &.next{
      right: -60px;
      img{
        left: 0;
      }
      &:hover{
        .btn-2{
          transition: ease all 0.3s;
          left: 15px;
        }
      }
    }
    &.prev{
      left: -60px;
      img{
        right: 0;
      }
      &:hover{
        .btn-2{
          transition: ease all 0.3s;
          right: 15px;
        }
      }
    }
  }
}

@keyframes galMoveInSm {
  0% {
    opacity: 0;
    transform: translate(-50vw,0px) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(0,0px) scale(1);
  }
}
@keyframes galMoveInBg {
  0% {
    opacity: 0;
    transform: translate(-50vw,0px) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(0,0px) scale(1);
  }
}

@keyframes imgMoveIn {
  0% {
    opacity: 0;
    transform: translate(50vw,0px) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(0,0px) scale(1);
  }
}
@keyframes imgMoveOut {
  0% {
    opacity: 1;
    transform: translate(0px,0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50vw,0px) scale(0.5);
  }
}

@keyframes hex-pulse {
  0%   { transform: scale(1) translate(0,0) ;}
  50%   { transform: scale(1.15) translate(28%,13%);}
  100% {  transform: scale(1)  translate(0,0);}
}
@keyframes triang-rotate {
  0%   { transform: rotate(0deg) translate(0,0);}
  25%   { transform: rotate(30deg) translate(-31%,143%);}
  50%   { transform: rotate(60deg) translate(3%,285%);}
  75%   { transform: rotate(90deg) translate(94%,388%);}
  100% {  transform: rotate(120deg) translate(216%,424%);}
}
@keyframes cir-pulse {
  0%   { opacity:1;}
  50% {  opacity:0;}
  100% {  opacity:1;}
}
@keyframes cir-rotate {
  0%   {  transform: matrix(0.49259348,0,0,0.48717968,-618.73128,-481.94963)}
  50% {  transform: matrix(0.49259348,0,0,0.48717968,-618.73128,-481.94963) rotate(10deg) translate (6%,25%)}
  100% {  transform: matrix(0.49259348,0,0,0.48717968,-618.73128,-481.94963)}
}

@keyframes txt-opacity {
  0% { opacity:1;}
  50%   { opacity:0;}
  100% { opacity:1;}
}

@keyframes cir-s-move-1c {
  0%   {transform:matrix(0.5077783,0.87949781,-0.76377433,0.44096532,815.42467,149.53184); opacity:1;}
  50%  {transform:  matrix(0.5077783,0.87949781,-0.76377433,0.44096532,970.42467,235.53184); opacity:1;}
  100%   {transform:matrix(0.5077783,0.87949781,-0.76377433,0.44096532,970.88336,419.36003); opacity:1;}
}

@keyframes cir-s-move-2c {
  0%   {transform:matrix(0.5077783,0.87949781,-0.76377433,0.44096532,970.88336,419.36003); opacity:1;}
  50%  {transform:matrix(0.5077783,0.87949781,-0.76377433,0.44096532,815.88336,510.36003); opacity:1;}
  100%   {transform:matrix(0.5077783,0.87949781,-0.76377433,0.44096532,664.29894,420.52449); opacity:1;}
}
@keyframes cir-s-move-3c {
  0%   {transform:matrix(0.5077783,0.87949781,-0.76377433,0.44096532,664.29894,420.52449); opacity:1;}
  50%  {transform: matrix(0.5077783,0.87949781,-0.76377433,0.44096532,654.29894,235.52449); opacity:1;}
  100%   {transform:matrix(0.5077783,0.87949781,-0.76377433,0.44096532,815.42467,149.53184); opacity:1;}
}
