#loaderMain{
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  background: $grey-light;
  z-index: 99;
  transition: ease all 0.35s;
  overflow: hidden;
  &.hide{
    opacity: 0;
  }
  .loader-wrapper{
    right: 0;
    left: 0;
    margin: 0 auto;
    transition: ease all 0.35s;
    position: absolute;
    top: 50%; //20%
    transform: translate(0%,-50%);
  }
  .logo-txt{
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 60px;
    right: 20px;
    @include respond-width($w800) {
      display: block;
      right: 0;
      margin: 0 auto;
      top: -50px;
    }
    @include respond-width($w480) {
      top: -100px;
      transform: scale(0.7);
    }
    @include respond-width($w400) {
      transform: scale(1);
      right: -23%;
    }
    @include respond-width($w330) {
      transform: scale(1);
      right: -20%;
    }
    #layer1{
      @include respond-width($w400) {
        // transform: scale(0.5) translate(0%, -890px);
        transform: scale(0.55) translate(0px, -894px) !important;
        // transform-origin: 35% 0px !important;
      }
    }
  }
  #loaderMainSvg{
    position: relative;
    left: 30px;
    vertical-align: top;
    display: inline-block;
    @include respond-width($w800) {
      display: block;
      left: 0;
      margin: 0 auto;
    }
    @include respond-width($w480) {
      transform: scale(0.7);
    }
    @include respond-width($w400) {
      transform: scale(0.7) translate( 0%, 0px);
    }
    @include respond-width($w330) {
      transform: scale(0.7) translate( -10%, 0px);
    }

    #triangle{
      // animation: triang-rotate 3s infinite;
      stroke: $grey-dark;
      stroke-width: 4px;
    }
    #circle{
      stroke: $grey-dark;
      stroke-width:9px;
      stroke-opacity:1;
    }

    #hexagram{
      // transform-origin: 50% 50%;
      // animation: hex-pulse  1.5s infinite;
      stroke: $grey-dark;
      stroke-width:4px;
      stroke-opacity:1;
    }
    #logo-e, #logo-e path,
    #logo-o, #logo-o path,
    #logo-t, #logo-t path,
    #logo-m, #logo-m path{
      fill-opacity:1;
      stroke-opacity:1;
      stroke-width:4px;
      fill: $grey-dark;
      font-size:124.4px;
    }
    #logo{
      stroke: $grey-dark;
    }
    #s-circles{
      .s-circle{
        stroke: $grey-dark;
        stroke-width:8.65176868px;
        stroke-opacity:1;
        &:nth-child(1){
          animation: cir-s-move-1c 3s infinite;
        }
        &:nth-child(2){
          animation: cir-s-move-2c 3s infinite;
        }
        &:nth-child(3){
          animation: cir-s-move-3c 3s infinite;
        }
      }
    }
    #rect{
      fill:none;
      stroke-width:4.011096px;
      stroke-opacity:1;
    }
    .txt{
      fill: $grey-dark;
      opacity: 1;
    }
  }
  .edge-loader{
    margin: 0 auto;
    text-align: center;
    height: 50px;
    display: none;
    position: relative;
    bottom: 75px;
    // display: block;
    img{
      max-height: 100%;
    }
  }
}


@keyframes hex-pulse {// translate(28%,13%) -> 50%;
  0%   { transform: scale(1) translate(0,0) ;}
  50%   { transform: scale(1.15)  translate(0,0) ;}
  100% {  transform: scale(1)  translate(0,0);}
}
@keyframes triang-rotate-firefox {
  0%   { transform: rotate(0deg) scale(1);}
  50%   { transform: rotate(0deg) scale(1.15);}
  100% {  transform: rotate(0deg) scale(1)}
}
// @keyframes triang-rotate-firefox {
//   0%   { transform: rotate(0deg) translate(0,0);}
//   25%   { transform: rotate(30deg) translate(0,0);}
//   50%   { transform: rotate(60deg) translate(0,0);}
//   75%   { transform: rotate(90deg) translate(0,0);}
//   100% {  transform: rotate(120deg) translate(0,0);}
// }
@keyframes triang-rotate {
  0%   { transform: rotate(0deg) translate(0,0);}
  25%   { transform: rotate(30deg) translate(-31%,143%);}
  50%   { transform: rotate(60deg) translate(3%,285%);}
  75%   { transform: rotate(90deg) translate(94%,388%);}
  100% {  transform: rotate(120deg) translate(216%,424%);}
}
@keyframes cir-pulse {
  0%   { opacity:1;}
  50% {  opacity:0;}
  100% {  opacity:1;}
}

@keyframes cir-rotate {
  0%   {  transform: matrix(0.49259348,0,0,0.48717968,-618.73128,-481.94963)}
  50% {  transform: matrix(0.49259348,0,0,0.48717968,-618.73128,-481.94963) rotate(10deg) translate (6%,25%)}
  100% {  transform: matrix(0.49259348,0,0,0.48717968,-618.73128,-481.94963)}
}

@keyframes txt-opacity {
  0% { opacity:1;}
  50%   { opacity:0;}
  100% { opacity:1;}
}

@keyframes cir-s-move-1c {
  0%   {transform:matrix(0.5077783,0.87949781,-0.76377433,0.44096532,815.42467,149.53184); opacity:1;}
  50%  {transform:  matrix(0.5077783,0.87949781,-0.76377433,0.44096532,970.42467,235.53184); opacity:1;}
  100%   {transform:matrix(0.5077783,0.87949781,-0.76377433,0.44096532,970.88336,419.36003); opacity:1;}
}

@keyframes cir-s-move-2c {
  0%   {transform:matrix(0.5077783,0.87949781,-0.76377433,0.44096532,970.88336,419.36003); opacity:1;}
  50%  {transform:matrix(0.5077783,0.87949781,-0.76377433,0.44096532,815.88336,510.36003); opacity:1;}
  100%   {transform:matrix(0.5077783,0.87949781,-0.76377433,0.44096532,664.29894,420.52449); opacity:1;}
}
@keyframes cir-s-move-3c {
  0%   {transform:matrix(0.5077783,0.87949781,-0.76377433,0.44096532,664.29894,420.52449); opacity:1;}
  50%  {transform: matrix(0.5077783,0.87949781,-0.76377433,0.44096532,654.29894,235.52449); opacity:1;}
  100%   {transform:matrix(0.5077783,0.87949781,-0.76377433,0.44096532,815.42467,149.53184); opacity:1;}
}
