
//************************************
// MENU
//************************************


#bodyWrapper{
  &.dark {
    #menu{
      &:before{
        background: $grey-dark;
        // transition: ease all 0.3s;
      }
      .menu-tab {
        .menu-txt {
          color: $grey-light;
          // transition: all ease 0.3s;
          background: $grey-dark;
        }
        &.active {
          .menu-txt {
            // transition: all ease 0.3s;
            // color: $grey-mid;
            padding: 5px 0 0;
          }
          &:after {
            transform: scale(0.8);
          }
        }
      }
      .sub-menu-wrapper {
        .sub-menu {
          &:hover {
            color: $grey-mid;
          }
          &.active {
            text-decoration: underline;
          }
        }
        &:before {
          border-top: 2px solid $grey-light;
        }
      }
      .search-btn-wrapper,
      .social-wrapper {
        color: $grey-light;
        a {
          color: $grey-light;
        }
      }
      .menu-logo{
        svg{
          #triangle,
          #circle,
          #hexagram,
          #rect,
          #logo{
            stroke: $grey-light;
          }
          #logo-e, #logo-e path,
          #logo-o, #logo-o path,
          #logo-t, #logo-t path,
          #logo-m, #logo-m path{
            fill: $grey-light;
            stroke: $grey-light;
          }
          #s-circles{
            .s-circle{
              stroke: $grey-light;
            }
          }
          .txt{
            fill: $grey-light;
          }
        }
      }
      // .menu-hidden-container{
      //   #tri-g{
      //     path{
      //       stroke:$grey-light;
      //     }
      //   }
      //   #tri-p{
      //     path{
      //       stroke: $grey-light;
      //     }
      //   }
      // }
    }//menu
    #switchMobile,
    #switch {
      svg{
        #circle-p{
          stroke:$grey-mid;
        }
        #circle-g{
          stroke: $grey-light;
        }
      }
      &:hover {
        svg{
          #circle-p{
            stroke: $grey-light;
            transition: ease all 0.35s;
          }
          #circle-g{
            stroke:$grey-mid;
            transition: ease all 0.35s;
          }
        }
      }
    }
  }

  &.light {
    #menu{
      &:before{
        background: $grey-light;
        // transition: ease all 0.3s;
      }
      .menu-tab {
        .menu-txt {
          // transition: all ease 0.3s;
          background: $grey-light;
        }
        &.active {
          // color: $grey-mid;
          .menu-txt {
            // transition: all ease 0.3s;
            // color: $grey-dark;
            padding: 5px 0 0;
          }
          &:after {
            transform: scale(0.8);
          }
        }
      }
      .sub-menu-wrapper {
        .sub-menu {
          &:hover {
            color: $grey-mid;
          }
          &.active {
            text-decoration: underline;
          }
        }
        &:before {
          border-top: 2px solid $grey-dark;
        }
      }
      .search-btn-wrapper,
      .social-wrapper {
        color: $grey-dark;
        a {
          color: $grey-dark;
        }
      }
      .menu-logo{
        svg{
          #triangle,
          #circle,
          #hexagram,
          #rect,
          #logo{
            stroke: $grey-dark;
          }
          #logo-e, #logo-e path,
          #logo-o, #logo-o path,
          #logo-t, #logo-t path,
          #logo-m, #logo-m path{
            fill: $grey-dark;
            stroke: $grey-dark;
          }
          #s-circles{
            .s-circle{
              stroke: $grey-dark;
            }
          }
          .txt{
            fill: $grey-dark;
          }
        }
      }
      // .menu-hidden-container{
      //   #tri-g{
      //     path{
      //       stroke:$grey-dark;
      //     }
      //   }
      //   #tri-p{
      //     path{
      //       stroke: $grey-dark;
      //     }
      //   }
      // }

    }
    #switchMobile,
    #switch {
      svg{
        #circle-p{
          stroke: $grey-dark;
        }
        #circle-g{
          stroke:$grey-mid;
        }
      }
      &:hover {
        svg{
          #circle-p{
            stroke:$grey-mid;
            transition: ease all 0.35s;
          }
          #circle-g{
            stroke: $grey-dark;
            transition: ease all 0.35s;
          }
        }
      }
    }
  }

}
.main-wrapper {
  position: relative;
  #loadMoreBtn{
    cursor: pointer;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
  }
}
.pseudo-menu{
  height: 100px;
  position: relative;
  width: 100%;
  @include respond-width($w991){
    height: 50px;
  }
}

#menu {
  // transform: translate(0,-150px);
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 33;
  transition: ease all 0.3s;
  padding: 0 0 5px;
  @include respond-width($w991) {
    display: none;
  }
  &:before{
    content: "";
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all ease 0.3s;
  }
  .menu-hidden-container{
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    left: 0;
    width: 100%;
    .tri-wrapper{
      // display: inline-block;
      padding: 0px;
      margin: 0px;
    }
    svg{
      transform: translate(0,-100px) scale(0);
      transition: ease all .3s;
      margin: 0px 5% 0;
      path{
        stroke-width:30;
      }
    }
  }

  &.hidden {
    transition: ease all 0.5s;
    &:before{
      transition: all ease 0.5s;
      height: 100%;
    }
    .menu-wrapper{
      top: -10px;
      transition: all height 0.3s;
      // height: 40px;
    }
    .menu-tabs-wrapper .menu-tab .menu-txt{
      font-size: 15px;
      transition: ease all 0.3s;
    }
    .menu-tabs-wrapper{
      transition: ease transform 0.3s;
      // transform: translate(-20px,-80px);
      height: 50px;
    }
    .sub-menu-wrapper{
      opacity: 0;
      height: 0px;
      transition: all ease 0.3s;
      // transform: translate(0, -30px);
      // opacity: 0;
      // height: 0px;
    }

    .social-wrapper{
      transition: all ease 0.3s;
      // transform: translate( 20px, -60px);
      // height: 0;
    }
    #switch{
      transition: all ease 0.3s;
      // transform: translate( 50px, -60px);
      // height: 0;
    }
    .menu-logo{
      transition: ease all 0.35s;
      transform: translate(0 , -50%)  scale(0.45);
      // top: 40%;
      svg{
        #triangle{
          opacity: 0;
          // transform: translate(-100px,-220px);
          transition: ease all 0.25s;
        }
        #circle{
          opacity: 0;
          // transform: matrix(0.23100085,0.39570789,-0.37926641,0.216563,-322.34362,-362.18891) translate(-350px,-200px);
          transition: ease all 0.25s;
        }
        #hexagram{
          opacity: 0;
          // transform: translate(-100px,-220px);
          transition: ease all 0.25s;
        }
        #s-circles{
          opacity: 0;
          // transform: matrix(0.49259348,0,0,0.48717968,-618.73128,-481.94963) translate(-100px,-250px);
          transition: ease all 0.25s;
        }
      }
    }

  }
  &.hidden-first {
    transform: translate(0 ,-100%);
    // height: 40px;
    // transition: ease all 0.5s;
    // &:before{
    //   transition: all ease 0.5s;
    //   height: 100%;
    // }
    // .menu-tabs-wrapper{
    //   // transition: ease all 0.3s;
    //   transform: translate(-20px,-60px);
    // }
    // .sub-menu-wrapper{
    //   transition: all ease 0.3s;
    //   transform: translate(0, -30px);
    //   opacity: 0;
    // }
    // .social-wrapper{
    //   transition: all ease 0.3s;
    //   transform: translate( 20px, -60px);
    // }
    // #switch{
    //   transition: all ease 0.3s;
    //   transform: translate( 50px, -60px);
    // }
    // .menu-hidden-container{
    //   opacity: 0;
    // }
  }

}
.menu-wrapper {
  width: 90%;
  position: relative;
  margin: 0 auto;
  transition: ease all 0.3s;
  @include respond-width($w1200) {
    width: 80%;
    text-align: right;
  }
  .menu-logo {
    position: absolute;
    left: 0px;
    height: 220px;
    top: 50%;
    width: 0;
    z-index: 20;
    transition: ease all 0.3s;
    transform: translate(0 , -50%)  scale(0.37);
    display: inline-block;
    @include respond-width($w1450) {
      left: -50px;
    }
    @include respond-width($w1200) {
      left: -50px;
    }
    svg{
      height: 250px;
      cursor: pointer;
      position: relative;
      #triangle{
        transition: ease all 0.3s;
        stroke-width: 5px;
      }
      #circle{
        transition: ease all 0.3s;
        stroke-width:10px;
        stroke-opacity:1;
        transform: matrix(0.23100085,0.39570789,-0.37926641,0.216563,-322.34362,-362.18891);
      }
      #hexagram{
        transition: ease all 0.3s;
        stroke-width:5px;
        stroke-opacity:1;
      }
      #logo-e, #logo-e path,
      #logo-o, #logo-o path,
      #logo-t, #logo-t path,
      #logo-m, #logo-m path{
        fill-opacity: 1;
        stroke-opacity: 1;
        stroke-width: 5px;
        font-size: 124.4px;
      }
      #s-circles{
        transform: matrix(0.49259348,0,0,0.48717968,-618.73128,-481.94963);
        transition: ease all 0.3s;
        .s-circle{
          stroke-width:8px;
          stroke-opacity:1;
        }
      }
      #rect{
        fill:none;
        stroke-width:5px;
        stroke-opacity:1;
      }
      .txt{
        opacity: 1;
      }
    }
  }
  .menu-tabs-wrapper {
    width: 70%;
    max-width: 1300px;
    // clear: both;
    position: relative;
    display: inline-block;
    margin: 5px 0 0;
    transition: ease all 0.3s;
    transform: translate(0,0px);
    opacity: 1;
    height: 75px;
    @include respond-width($w1200) {
      width: 60%;
    }
    .menu-tab {
      display: inline-block;
      cursor: pointer;
      position: relative;
      width: 25%;
      text-align: center;
      padding: 30px 0 25px;
      // transition: all ease 0.3s;
      .menu-txt {
        transition: ease all 0.3s;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 800;
        position: relative;
        z-index: 12;
        padding:  0;
        @include respond-width($w1450) {
          font-size: 17px;
        }
      }


      &:after {
        z-index: 1;
        position: absolute;
        right: 0;
        left: 0;
        transform: scale(0);
        transition: ease all 0.3s;
      }
      &:hover {
        .menu-txt{
          padding: 5px 0 0;
        }
        &:after {
          transform: scale(1);
        }
      }
    }
    .knowledge,
    .products {
      &:after {
        top: 5%;
        // content: url('../img/common/tri-m.svg');
        // content: url('../img/common/tri-m.png');
      }
    }
    .about,
    .works {
      &:after {
        top: 10%;
        // content: url('../img/common/tri-f.svg');
        // content: url('../img/common/tri-f.png');
      }
    }
  }
}

.sub-menu-wrapper {
  position: relative;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  bottom: 0;
  display: flex;
  transition: all ease 0.4s;
  height: 30px;
  &.empty{
    opacity: 0;
    height: 0;
  }
  &:before {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    height: 1px;
  }
  .sub-menu{
    font-size: 15px;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px 25px 5px;
    display: inline-block;
    @include respond-width($w1450) {
      font-size: 13px;
    }
    &.ng-enter {
      animation: 0.5s appear-submenu;
    }
    &.ng-leave {
      // position: absolute;
      // animation: 0.7s disappear-submenu;
    }
  }
}
.search-btn-wrapper{
  display: inline-block;
  transition: ease all 0.3s;
  width: 50px;
  text-align: center;
  .search-btn{
    margin: 0 auto;
    position: relative;
    display: block;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    font-size: 100;
    transition: ease all 0.3s;
    &:hover {
      // font-size: 19px;
      // transition: ease all 0.3s;
      .txt{
        transform: translate(0,0px);
        top: -12px;
        opacity: 1;
      }
    }
  }
  .txt{
    transform: translate(0,-25px);
    font-weight: 600;
    font-size: 16px;
    transition: ease all 0.3s;
    position: absolute;
    top: -12px;
    opacity: 0;
    left: 0px;
    right: 0px;
    margin: 0 auto;
  }
  i{
    display: block;
    position: relative;
  }
}

.social-wrapper {
  display: inline-block;
  // right: 75px;
  text-align: center;
  transition: ease all 0.3s;
  .social-icon {
    margin: 0 3px;
    display: inline-block;
    position: relative;
    a{
      display: block;
      font-size: 16px;
      text-align: center;
      transition: ease all 0.3s;
      &:hover {
        transition: ease all 0.3s;
        font-size: 20px;
      }
      i{
        line-height: 40px;
        width: 40px;
        height: 40px;
      }
    }
  }
}

//social wrapper
#switchMobile,
#switch {
  position: relative;
  display: inline-block;
  top: 5px;
  padding: 15px 0 0;
  top: 20px;
  transition: all ease 0.5s;

  .switch-txt {
    font-weight: 600;
    transition: ease all 0.5s;
    transform: translate(0px,-25px);
    display: block;
    position: absolute;
    top: -15px;
    left: -12px;
    opacity: 0;
  }
  .switch-wrapper {
    padding: 2px 10px;
    cursor: pointer;
    transition: ease all 0.5s;
    height: 35px;
    position: relative;
    bottom: 15px;

    svg{
      #circle-p{
        transition: ease all 0.3s;
        fill:none;
        stroke-width:2;
        transform: matrix(0,-1,1,0,-2.1145802,1063.6753);
      }
      #circle-g{
        transition: ease all 0.3s;
        fill:none;
        stroke-width:2;
        transform: matrix(0,-1,1,0,10.07042,1063.6325);
      }
    }
  }
  &:hover {
    .switch-txt {
      opacity: 1;
      transition: ease all 0.35s;
      transform: translate(0,0px) scale(1);
    }
  }
}




@keyframes appear-submenu {
  0%   { opacity:0; transform: translate( -500px, 0px)}
  100%   {opacity:1; transform: translate( 0px , 0)}
}

@keyframes disappear-submenu {
  0%   { opacity:1; transform:  translate( 0px,0)}
  100%   {opacity:0; transform:  translate( 500px , 0px )}
}
