#bodyWrapper.dark{
  .search-h{
    &:after{
      background: $grey-light;
    }
  }
  #searchMenu{
    background: $grey-dark;
    color: $grey-light;
  }
}
#bodyWrapper.light{
  .search-h{
    &:after{
      // background: $grey-dark;
      background: rgba(150,150,150,0.7 );
    }
  }
  #searchMenu{
    background: $grey-light;
    color: $grey-dark;
  }
}
#searchMenu{
  text-align: left;
  transition: linear all 0.25s;
  transition-delay: 0.2s;
  position: fixed;
  width: 50px;
  height: 100%;
  right: 0px;
  // left: 0px;
  bottom: 0px;
  z-index: 10;
  overflow: hidden;
  &.show{
    transition-delay: 0s;
    width: 35%;
    @include respond-width(1366px){
      // width: 50%;
    }
    @include respond-width(650px){
      height: 100vh;
    }
    .search-menu-wrapper{
      transition-delay: 0.2s;
      opacity: 1;
      transform: translate(0,0);
    }
  }
  .search-menu-wrapper{
    width: 100%;
    transition-delay: 0s;
    transition: ease all 0.3s;
    opacity: 0;
    transform: translate(0px , 50px);
    // padding: 125px 25px 25px 25px;
  }
  .search-close-btn{
    padding: 15px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0 -50%);
    right: 10px;
    font-weight: 800;
    font-size: 35px;
  }
  .search-h{
    text-align: left;
    padding: 15px;
    position: relative;
    font-size: 20px;
    .upper{
      text-transform: uppercase;
    }
    .head{
      font-size: 25px;
    }
    &:after{
      left: 0px;
      height: 2px;
      width: 100%;
      content: '';
      position: absolute;
      top: 0px;
    }
  }

  .tags-h{
    margin: 5px;
  }
  .tags-wrapper{
    margin-top: 35px;
    position: relative;
  }
  .clear-tags{
    top: 0px;
    right: 0px;
    cursor: pointer;
    padding: 5px;
    position: absolute;
  }
  .tag{
    transition: ease all 0.3s;
    cursor: pointer;
    margin: 5px auto;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 0px;
    &.ng-leave{
      opacity: 1;
      left: 0px;
    }
    &.ng-enter{
      left: 5px;
      opacity: 0;
    }
    &.ng-leave-active{
      left: 5px;
      opacity: 0;
    }
    &.ng-enter-active{
      left: 0px;
      opacity: 1;
    }
    &.active{
      text-decoration: underline;
    }
    &:hover{
      color: green;
    }
    &.active{
      &:hover{
        color: red;
      }
    }

  }

  .search-word{
    position: relative;
  }
  .form-group{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: calc(80% - 25px);
    label{
      left: 25px;
      top: 50%;
      transform: translate(0,-50%);
      position: absolute;
    }
    input{
      padding-left: 25px;
      border: 2px solid $grey-mid;
      width: 100%;
      background: transparent;
      height: 50px;
      line-height: 50px;
    }
  }
  .input-clear{
    cursor: pointer;
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 45px;
  }


}
