#bodyWrapper{
  &.light{
    #menuHeaderWrapper{
      background: $grey-light;
      .logo{
        background: url('../img/common/mobile-logo-s-dark.svg') no-repeat 50% 50% ;
        background-size: contain;
      }
      .menu-close{
        circle,
        path,
        rect{
          stroke-width: 2 !important;
          stroke:$grey-dark;
        }
      }
    }
    #menuMobile{
      background: $grey-light;
    }
  }
  &.dark{
    #menuHeaderWrapper{
      background: $grey-dark;
      .logo{
        background: url('../img/common/mobile-logo-s-light.svg') no-repeat 50% 50% ;
        background-size: contain;
      }
      .menu-close{
        circle,
        path,
        rect{
          stroke-width: 2 !important;
          stroke:$grey-light;
        }
      }
    }
    #menuMobile{
      background: $grey-dark;
    }
  }
}
#menuHeaderWrapper{
  display: none;
  text-transform: uppercase;
  cursor: pointer;
  height: 50px;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  @include respond-width($w991) {
    display: block;
  }
  .search-btn-wrapper{
    display: inline-block;
    transition: ease all 0.3s;
    width: 50px;
    text-align: center;
    position: absolute;
    right: 50px;
    top: 5px;
    .search-btn{
      margin: 0 auto;
      position: relative;
      display: block;
      cursor: pointer;
      padding: 10px;
      font-size: 19px;
      transition: ease all 0.3s;
      &:hover {
        transition: ease all 0.3s;
        font-size: 22px;
        .txt{
          transform: translate(0,0px);
          top: -12px;
          opacity: 1;
        }
      }
    }
    .txt{
      display: none;
    }
    i{
      display: block;
      position: relative;
    }
  }
  &.menu-opened{
    .menu-close{
      #mobMenuHam{
        path{
          transform: translate( 50px , 0px);
          transition: ease all 0.3s;
          opacity: 0;
        }
      }
      #mobMenuClose{
        path{
          transform: translate(0px , 0);
          transition: ease all 0.3s;
          opacity: 1;
        }
      }
    }
    .toggle-txt{
      transition: ease all 0.3s;
      transform: translate(0,-50px);
      opacity: 0;
    }
  }
  .menu-close{
    transition: ease all 0.3s;
    transform: translate(0 , -50%);
    position: absolute;
    top: 50%;
    height: 100%;
    max-height: 40px;
    width: 40px;
    right: 7px;
    font-weight: 800;
    svg{
      max-width: 100%;
      max-height: 100%;
    }
    #mobMenuClose{
      path{
        transform: translate(-50px , 0);
        transition: ease all 0.3s;
        opacity: 0;
      }
    }
    #mobMenuHam{
      path{
        transform: translate(0px , 0);
        transition: ease all 0.3s;
        opacity: 1;
      }
    }
  }
  .toggle-txt{
    transition: ease all 0.3s;
    line-height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 0;
    left: 0;
    margin: 0 auto;
    font-weight: 600;
  }
  .logo{
    z-index: 12;
    transition: ease all 0.3s;
    display: inline-block;
    float: left;
    position: relative;
    max-height: 100%;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 40px;
    height: 40px;
  }
}

#menuMobile{
  display: none;
  height: 100vh;
  width: 0%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -10;
  transition: ease all 0.3s;
  &.show{
    width: 100%;
    z-index: 10;
    opacity: 1;
    transition: ease all 0.3s;
    .m-mob-wrapper{
      transition: ease all 0.3s;
      transform: translate(0% , 0);
    }
  }
  @include respond-width($w991) {
    display: block;
  }
  .logo{
    position: relative;
    margin: 0 auto;
    right: 0;
    left: 0;
  }
  .m-mob-wrapper{
    transition: ease all 0.4s;
    transform: translate(-30% , 0);
    position: absolute;
    top: 55px;
    text-align: center;
    width: 100vw;
    padding-top: 5px;
    border-top: 2px solid $grey-mid;
  }
  .m-mob-tabs-wrapper{
    position: relative;
    right: 20px;
    margin: 0 auto;
    text-align: left;
    display: inline-block;
  }
  .m-mob-tab{
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 20px;
    @include respond-height($h500) {
      font-size: 18px;
    }
  }
  .sub-menu-tab{
    margin: 10px 0;
    text-transform: capitalize;
    position: relative;
    left: 40px;
    font-size: 18px;
    &:before{
      content: '';
      position: absolute;
      width: 2px;
      height: 50%;
      top: 3px;
      // transform: translate(0,-50%);
      left: -10px;
      background: $grey-mid;

    }
  }
  .social-wrapper{
    border-top: 2px solid $grey-mid;
    display: block;
    @include respond-height($h500) {
      display: none;
    }
    .social-icon{
      i{
        color: $grey-mid;
      }
    }

  }
  #switchMobile{
    top: 0;
    display: block;
    position: relative;
    transform: none;
    transition: all ease 0.3s;
    border-top: 2px solid $grey-mid;
    text-align: center;
    @include respond-height($h500) {
      padding-top: 10px;
    }
    .switch-wrapper{
      bottom: 0;
    }
    .switch-txt{
      position: relative;
      opacity: 1;
      top: 0;
      left: 0;
      transform: none;
      @include respond-height($h500) {
        display: none;
      }
    }
  }
}
