#article .products-wrapper{
  .a-describe{
    text-align: center;
  }
  .shop-link-icon{
    color: $grey-mid;
    padding: 5px 10px 5px 5px;
    position: relative;
    left: 0px;
    transition: ease all 0.3s;
    text-decoration: none;
    &:hover{
      left: 3px;
    }
  }
  .shop-btn-wrapper{
    position: relative;
    margin: 35px auto;
    a{
      display: inline-block;
      border: 3px solid $grey-mid;
      padding: 10px 20px;
      font-size: 20px;
      font-weight: 800;
      color: $grey-mid;
      text-decoration: none;
      position: relative;
      overflow: hidden;
      &:hover{
        .fas{
          top: 50%;
        }
        span{
          top: 40px;
        }
      }
      .fas{
        transition: ease all 0.3s;
        position: absolute;
        top: -51%;
        transform: translate(0,-50%);
        left: 0px;
        right: 0px;
        margin: 0 auto;
      }
      span{
        transition: ease all 0.3s;
        position: relative;
        top: 0px;
      }
    }
  }//shop-btn-wrapper
}//#article.products-wrapper
