

//******************************************
// THUMBS
//******************************************
.thumbs-container {
  // position: relative;
  top: 155px;
  min-height: 100vh;
  position: absolute;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0px auto 100px;
  list-style: none;
  width: 1500px;
  transform: translate(0,0);
  transition: .2s linear all;
  transition: .3s ease background;
  opacity: 0;
  @include respond-width($w650) {
    position: relative;
    top: 0px;
  }
  &.hidden{
    transition: .3s ease all;
    top: 455px;
    opacity: 0;
  }
  &.appear{
    animation: thumbsappear 0.5s forwards;
  }
  @include respond-width($width-3thumbs) {
    width: 1125px;
  }
  @include respond-width($width-2thumbs) {
    width: 735px;
    overflow: hidden;
  }
  @include respond-width($width-1thumb) {
    width: 300px;
    max-width: 100%;
  }
}
.thumbs {
  max-width: 1400px;
  width: 95%;
  margin: 50px auto;
  top: 150px;
}
.thumb {
  float: left;
  position: relative;
  width: 345px;
  padding-bottom: 400px;
  overflow: hidden;
  visibility: hidden;
  transform: rotate(-60deg) skewY(30deg);
  margin: 0 10px;
  cursor: pointer;
  transition: all ease 0.3s;
  @include respond-width($width-1thumb) {
    padding-bottom: 0px;
    height: 200px;
  }

  //******hexagon THUMBS grid**************
  // $width-3thumbs: 1550px;
  // $width-2thumbs: 1150px;
  // $width-1thumb: 765px;
  @include respond-thumbs ( 5000px , $width-3thumbs) {
    &:nth-child(7n+5) {
      clear: left;
      // opacity: 0.5;
      margin: -85px 10px 0 194px;
    }
    &:nth-child(7n+6),
    &:nth-child(7n+7) {
      margin: -85px 10px 0;
    }
    &:nth-child(7n+10),
    &:nth-child(7n+11),
    &:nth-child(7n+8),
    &:nth-child(7n+9) {
      margin-top: -85px;
    }
  }
  @include respond-thumbs( $width-3thumbs , $width-2thumbs) {
    &:nth-child(5n+4) {
      clear: left;
      margin: -85px 10px 0 194px;
    }
    &:nth-child(5n+5) {
      margin: -85px 10px 0;
    }
    &:nth-child(5n+6) {
      margin: -85px 10px 0;
      clear: left;
    }
    &:nth-child(5n+7) {
      margin: -85px 10px 0;
    }
    &:nth-child(5n+8) {
      margin: -85px 10px 0;
    }
    &:nth-child(5n+9) {
      margin: -85px 10px 0 194px;
    }
  }
  @include respond-thumbs($width-2thumbs, $width-1thumb) {
    &:nth-child(3n+3) {
      clear: left;
      margin: -85px 10px 0 194px;
    }
    &:nth-child(3n+4) {
      clear: left;
      margin: -85px 10px 0;
    }
    &:nth-child(3n+5) {
      margin: -85px 10px 0;
    }
  }
  @include respond-width($width-1thumb) {
    width: 100%;
    max-width: 400px;
    transform: rotate(0deg) skewY(0deg);
    overflow: hidden;
    border-radius: 10px;
    margin: 15px auto;
    @include respond-width($width-1thumb) {
      max-width: 300px;
    }
  }
  &.ng-enter {
    animation: 0.5s appear;
    @include respond-width($w650) {
      animation: appearmobile 0.5s;
    }
  }
  &.ng-leave {
    animation: 0.5s disappear;
    @include respond-width($w650) {
      animation: disappearmobile 0.5s;
    }
  }
  // HEXAGON THUMBS
  * {
    position: absolute;
    visibility: visible;
  }
  .thumb-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    transform: skewY(-30deg) rotate(60deg);
    @include respond-width($width-1thumb) {
      transform: rotate(0deg) skewY(0deg);
    }
    &:hover {
      .t-info-wrapper {
        top: 50%;
        transform: translate(0,-50%);
        height: 400px;
        @include respond-width($width-1thumb) {
          // top: inherit;
          // transform: none;
          height: auto;
        }
        .t-head {
          padding-top: 80px;
          @include respond-width($width-1thumb) {
            padding-top: 20px;
          }
        }
        .t-date,
        .t-desc {
          opacity: 1;
        }
      }
    }
  }
  .t-info-wrapper {
    position: absolute;
    width: 100%;
    // top: 35%;
    top: 50%;
    transform: translate(0,-50%);
    height: 100px;
    padding: 0;
    transition: all ease 0.3s;
    right: 0;
    left: 0;
    margin: 0 auto;
    @include respond-width($width-1thumb) {
      // top: inherit;
      // transform: none;
      // bottom: 0;
      height: auto;
    }
    * {
      padding: 0 10px;
      position: relative;
    }
    .t-head {
      transition: all ease 0.3s;
      font-weight: 800;
      font-size: 20px;
      line-height: 23px;
      text-transform: uppercase;
      padding: 20px 45px 5px;
      @include respond-width($w991) {
        font-size: 15px;
      }
      @include respond-width($width-1thumb) {
        padding: 20px 10px 5px;
      }
    }
    .t-category {
      display: block;
      padding: 5px 0px;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      @include respond-width($width-1thumb) {
        padding: 5px 0px 15px;
      }
      span {
        text-transform: uppercase;
      }
    }
    .t-date,
    .t-desc {
      margin: 5px 10px;
      position: relative;
      opacity: 0;
      font-size: 16px;
      line-height: 18px;
      @include respond-width($width-1thumb) {
        width: auto;
        opacity: 1;
        font-size: 14px;
        display: none;
      }
    }
    .t-desc{
      padding: 5px 0;
      border-top: 1px solid $grey-mid;
      border-bottom: 1px solid $grey-mid;
    }

  }
  .thumb-img {
    width: auto;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @include respond-width($width-1thumb) {
      width: 100%;
      height: auto;
    }
    img {
      vertical-align: middle;
      // width: auto;
      // height: 100%;
      margin: 0 auto;
      position: relative;
      transition: ease all 0.3s;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include respond-width($width-1thumb) {
        transform: translate(-50%, 0%);
        top: 0%;
        max-width: 100%;
        // width: 100%;
        // height: auto;
      }
      &.loading{
        transition: ease all 0.3s;
        opacity: 0;
        width: 100px;
      }
    }
    .loader{
      background: url('../img/common/imgloader.svg') 50% 50%;
      background-size: contain;
      height: 50px;
      width: 50px;
      position: absolute;
      top: 15%;
      right: 0;
      left: 0;
      margin: 0 auto;
      @include respond-width($width-1thumb) {
        top: 35px;
      }
    }
  }
}


@keyframes thumbsappear {
  0%   { opacity:0; transform: translate( 0px, 500px) }
  100%   {opacity:1; transform: translate( 0px , 0) }
}

@keyframes appear {
  0%   { opacity:0; transform: translate( -500px, 0px) rotate(-60deg) skewY(30deg)}
  100%   {opacity:1; transform: translate( 0px , 0) rotate(-60deg) skewY(30deg)}
}

@keyframes disappear {
  0%   { opacity:1; transform:  translate( 0px,0) rotate(-60deg) skewY(30deg)}
  100%   {opacity:0; transform:  translate( 500px , 0px ) rotate(-60deg) skewY(30deg)}
}
@keyframes appearmobile {
  0%   { opacity:0; transform: translate( -500px, 0px) }
  100%   {opacity:1; transform: translate( 0px , 0) }
}

@keyframes disappearmobile {
  0%   { opacity:1; transform:  translate( 0px,0) }
  100%   {opacity:0; transform:  translate( 500px , 0px ) }
}
