
@import "_normalize";
@import "_config";
@import "_coherence";
@import "_article";
@import "_loader";
@import "_about";
@import "_products";
@import "_thumbs";
@import "_menu";
@import "_menumobile";
@import "_menusearch";
@import "_edge_fix";
@import "_gallery_slider";
@import "_fox_fix";

// @import "_hexagonbg";

// $grey-dark: rgb(60, 60, 60);
// $grey-light: rgb(229, 229, 229);

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "sawasdee";
  text-align: center;
  overflow-x: hidden;
  transition: background ease 0.3s;

  // #bodyWrapper{
  &.no-scroll{
    overflow: hidden;
  }
  &.light{
    color: $grey-dark;
    background: $grey-light;
    .thumbs-container{
      background: $grey-light;
    }
    .thumb-wrapper{
      .t-info-wrapper {
        color: $grey-light;
        background: rgba(60,60,60,0.85);
      }
      &:hover{
        .t-info-wrapper {
          background: rgba(60,60,60,0.95);
        }
      }
    }
  }
  &.dark{
    color: $grey-light;
    background: $grey-dark;
    .thumbs-container{
      background: $grey-dark;
    }
    .thumb-wrapper{
      .t-info-wrapper {
        color: $grey-dark;
        background: rgba(229,229,229,0.80);
      }
      &:hover{
        .t-info-wrapper {
          background: rgba(229,229,229,0.95);
        }
      }
    }
  }

  &.ani-out-in{
    main.main-wrapper{
      animation: mainanioutin 0.65s forwards;
    }
  }
  // }

}

#cover {
  display: none;
}

@keyframes mainanioutin {
  0%   {transform: translate(0% , 0); opacity: 1; }
  25% {transform: translate(7% , 0); opacity: 0; }
  75% {transform: translate(-7% , 0); opacity: 0; }
  100% {transform: translate(0% , 0); opacity: 1; }
}
