<div class="breath-wrapper" ng-controller="breathPageCtrl as vm">

  <audio id="audio" controls audio-play>
    <source src="app/articles/unique/code/breath/bell.mp3" type="audio/mpeg"/>
    Your browser does not support the audio element.
  </audio>

  <span class="">
    {{vm.interval/1000}}s
  </span>
  <div class="controls-wrapper">

    <span ng-click="vm.interval = vm.interval - 1000" style="cursor:pointer; font-size:35px; font-weight:600; padding: 20px;">
      -
    </span>
    <span ng-click="vm.interval = vm.interval + 1000" style="cursor:pointer; font-size:35px; font-weight:600; padding: 20px;">
      +
    </span>
  </div>


</div>
