<div class="loading " id="article" article-loader  >

  <div class="{{vm.articleData.href}} article-wrapper">

    <h3 class="a-head">
      <span>
      Dune (1984)
      </span>
    </h3>
    <div class="article-txt-wrapper">

      <div class="a-describe">
        Dune is a science fiction film written and directed by David Lynch, based on the 1965 Frank Herbert novel.
      </div>
      <div class="a-describe">
        Short scenes from science fiction movie Dune from 1984. One scene as a depiction of human controling animal instints and other a technology based on sound vibration
      </div>

      <div class="a-describe" style="text-align:center" >
        Duke's son undergoes the test of the box where he needs to control his instincts and overcome his fear and pain.
      </div>
      <div class="a-vid">
        <iframe  width="560" height="315" src="https://www.youtube.com/embed/0ujoXRAZU3g" frameborder="0" allowfullscreen>                       </iframe>
      </div>
      <div class="a-describe" style="text-align:center" >
        Duke's son shows a weapon which enhances the sound of a certain tought.
      </div>
      <div class="a-vid">
        <iframe  width="560" height="315" src="https://www.youtube.com/embed/ltgC6eOf_Gw" frameborder="0" allowfullscreen>                       </iframe>
      </div>

      <div class="a-source">
        <p>
          <strong> Source: </strong>
          <a href="http://www.imdb.com/title/tt0087182/" target="_blank">
            <span class="a-source-link">http://www.imdb.com</span>
          </a>
        </p>
      </div>
    </div>


</div>

</div><!-- article -->
