<div class="">
                   <div class="container">
                      <h2 class="video-title">The Great Work</h2>
                      <p>

                       The Science of the Secret. An Initiate's guide threw the doors of Esoteric Knowledge...<br>
                       10 years in the making, The Great Work is a Modern Day Mystery School designed to help you meet the challenges and opportunities of life in the 21st century.
                          <br>

                       </p>

                      <h3 class="video-description">
Prologue
                       </h3>

                  <div class="video">
                  <iframe  width="560" height="315" src="https://www.youtube.com/embed/WOjPyNLvpA4" frameborder="0" allowfullscreen>                       </iframe>
                   </div>
                        <h3 class="video-description">
The Material Plane
                       </h3>

                  <div class="video">
                  <iframe  width="560" height="315" src="https://www.youtube.com/embed/hr5BwTVPYwA" frameborder="0" allowfullscreen>                       </iframe>
                   </div>
                        <h3 class="video-description">
The Mental Plane
                       </h3>

                  <div class="video">
                  <iframe  width="560" height="315" src="https://www.youtube.com/embed/83oTRusr7LU" frameborder="0" allowfullscreen>                       </iframe>
                   </div>
                        <h3 class="video-description">
The Emotional Plane
                       </h3>

                  <div class="video">
                  <iframe  width="560" height="315" src="https://www.youtube.com/embed/JDRTZ1ibpPk" frameborder="0" allowfullscreen>                       </iframe>
                   </div>
                        <h3 class="video-description">
The Plane Of Will                         </h3>

                  <div class="video">
                  <iframe  width="560" height="315" src="https://www.youtube.com/embed/zwMiqwwl-gQ" frameborder="0" allowfullscreen>                       </iframe>
                   </div>
                       <h3 class="video-description">
The Quintessence
                       </h3>

                  <div class="video">
                  <iframe  width="560" height="315" src="https://www.youtube.com/embed/7MJZLuwwX9E" frameborder="0" allowfullscreen>                       </iframe>
                   </div>
                  </div>

</div>
