<div id="article" class=" loading">
  <div class="article-wrapper products-wrapper">

    <h2 class="a-head">
      <span>
        Products
      </span>
    </h2>
    <p class="a-describe">
      <span>
        We are currently working on our products. We have prepared PDF files ready to print for you in our shop
      </span>
      <a class="shop-link-icon" href="http://shop.eotm.info" target="_blank">
        <i class="fas fa-shopping-cart"></i>
      </a>
      <br>
      <span>
        Let us know what you think!</p>
      </span>

    <div class="a-gallery" >
      <div class="a-img" ng-click="vm.gallery(pic, vm.productsData[0].gallery, vm.productsData[0].href)"  ng-repeat="pic in vm.productsData[0].gallery" gallery-loader>
        <img class="" ng-src="assets/img/gallery/products/{{pic[1]}}" alt=""  img-loader />
      </div>
    </div>  <!-- gallery -->

  <div class="shop-btn-wrapper">
    <a class="" href="http://shop.eotm.info" target="_blank">
      <span>
        Checkout our shop
      </span>
      <i class="fas fa-shopping-cart"></i>
    </a>
  </div>


    <div id="gallerySlider" class="" >
      <div class="gallery-overlay" ng-click="vm.galleryClose()"></div>

      <div class="gs-close " ng-click="vm.galleryClose()">
        <svg width="51" height="51" viewBox="0 0 51 51" id="menuToggle-btn" version="1.1">
          <g id="g4918" transform="matrix(0.95237101,0,0,0.95237101,0.90582575,1.2989051)">
            <circle r="24.666214" cy="25.391947" cx="25.824152" class="circle" style="fill:none;fill-opacity:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"></circle>
            <rect ry="1.6656303" y="13.650247" x="12.910566" height="3.3312607" width="25.523808" class="rect one" style="fill-opacity:1;stroke:none;stroke-width:1.48667049;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"></rect>
            <rect ry="1.6656303" y="23.815605" x="12.833264" height="3.3312607" width="25.523808" class="rect two" style="fill-opacity:1;stroke:none;stroke-width:1.48667049;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"></rect>
            <rect ry="1.6656303" y="33.900864" x="12.680457" height="3.3312607" width="25.523808" class="rect three" style="fill-opacity:1;stroke:none;stroke-width:1.48667049;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"></rect>
          </g>
        </svg>
      </div>
      <div class="gs-img-wrapper">
        <div class="next gs-btn" ng-click="vm.galleryNext(vm.productsData[0].gallery, vm.productsData[0].href)">
          <img src="assets/img/common/next-btn.png" alt="" />
          <img class="btn-2" src="assets/img/common/next-btn.png" alt="" />
        </div>

        <img id="gallerySliderImg" src="" alt="" />

        <div class="gs-img-loader">
          <svg
          width="371"
          height="340"
          id="loaderMainSvg"
          version="1.1">
          <g
          inkscape:label="Layer 1"
          inkscape:groupmode="layer"
          id="layer1"
          transform="translate(0,-790.36218)">
          <g
          transform="matrix(1.2775126,0,0,1.2775126,-281.22424,24.867882)"
          id="">

          <g
          style="stroke-miterlimit:4;stroke-dasharray:none;"
          id="logo"
          transform="matrix(0.62327102,0,0,0.62327102,645.43592,851.14872)">
    <g
    transform="matrix(0.49259348,0,0,0.48717968,-618.73128,-481.94963)"
    style="fill:none;stroke:#404040;stroke-width:8.18793106;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
    id="s-circles">
    <path
    transform="matrix(0.5077783,0.87949781,-0.76377433,0.44096532,815.42467,149.53184)"
    style="stroke-miterlimit:4;stroke-dasharray:none;"
    d="m -81.822359,539.20471 c 0,10.59995 -7.462301,19.1929 -16.667517,19.1929 -9.205214,0 -16.667514,-8.59295 -16.667514,-19.1929 0,-10.59994 7.4623,-19.1929 16.667514,-19.1929 9.205216,0 16.667517,8.59296 16.667517,19.1929 z"
    id=""
    class="s-circle"
    inkscape:connector-curvature="0" />
    <path
    transform="matrix(0.5077783,0.87949781,-0.76377433,0.44096532,970.88336,419.36003)"
    style="stroke-miterlimit:4;stroke-dasharray:none;"
    d="m -81.822359,539.20471 c 0,10.59995 -7.462301,19.1929 -16.667517,19.1929 -9.205214,0 -16.667514,-8.59295 -16.667514,-19.1929 0,-10.59994 7.4623,-19.1929 16.667514,-19.1929 9.205216,0 16.667517,8.59296 16.667517,19.1929 z"
    id="path4407-4-0-361-4"
    class="s-circle"
    inkscape:connector-curvature="0" />
    <path
    transform="matrix(0.5077783,0.87949781,-0.76377433,0.44096532,664.29894,420.52449)"
    style="stroke-miterlimit:4;stroke-dasharray:none;"
    d="m -81.822359,539.20471 c 0,10.59995 -7.462301,19.1929 -16.667517,19.1929 -9.205214,0 -16.667514,-8.59295 -16.667514,-19.1929 0,-10.59994 7.4623,-19.1929 16.667514,-19.1929 9.205216,0 16.667517,8.59296 16.667517,19.1929 z"
    id="path4407-0-7-3-7"
    class="s-circle"
    inkscape:connector-curvature="0" />
    </g>
    <path
    style="stroke-miterlimit:4;stroke-dasharray:none;"
    d="m -487.25674,-289.88495 84.8094,0 0,81.61369 -84.8094,0 z"
    id="rect"
    inkscape:connector-curvature="0" />
    </g>
    </g>
    </g>
    </svg>
    </div>

<div class="prev gs-btn"  ng-click="vm.galleryPrev(vm.productsData[0].gallery, vm.productsData[0].href)">
  <img src="assets/img/common/prev-btn.png" alt="" />
  <img class="btn-2" src="assets/img/common/prev-btn.png" alt="" />
</div>
</div>

</div><!-- gallery Slider -->


</div>
</div>
