<div class="" ng-controller="thumbsCtrl as vm">
  <ul class="thumbs-container" ng-class="{ 'appear': vm.thumbsAppear }" >
    <li class="thumb" ng-repeat="thumb in vm.thumbs | filter: { category : vm.tFilterC , subcategory : vm.tFilterS  } | tagsFilter:vm.search.tagsActive | wordFilter:vm.search.word | limitTo : vm.loadMoreLimit" ng-click="vm.articleLoad(thumb.href, thumb.unique)" >
      <div class="thumb-wrapper">
        <div class="thumb-img">
          <img ng-src="assets/img/thumbs/{{thumb.thumbPic}}" alt="" img-loader />
        </div>
        <div class="t-info-wrapper">
          <div class="t-head">{{thumb.headline}}</div>
          <div class="t-category">
            <span>{{thumb.subcategory}}</span>
          </div>
          <div class="t-desc">{{thumb.thumbDesc}}</div>
          <!-- <div ng-if="vm.articleElementData(thumb.artist)" class="t-artist"><span>Arts by: </span>{{thumb.artist}}</div> -->
          <!-- <div class="t-date">{{thumb.date}}</div> -->
        </div>
      </div>
    </li>
  </ul>

  <div id="loadMoreBtn" load-more-thumbs ></div>
</div>
