<div class="" id="searchMenu" ng-class=" {'show' : vm.search.open } " >
  <div class="search-menu-wrapper">

    <span class="search-close-btn" ng-click="vm.search.open = !vm.search.open" > X </span>
    <h3 class="search-h"><span class="upper head">Search</span><span ng-if="vm.menuActive.main"> in <span class="upper">{{vm.menuActive.main}}</span><span ng-if="vm.menuActive.subm"> under <span class="upper">{{vm.menuActive.subm}}</span></span></span>  </h3>

    <div class="search-word">
      <h5  class="tags-h">Search by word </h5>
      <div class="form-group">
        <label for="searchWord" ng-if="!vm.search.word">Search by word</label>
        <input id="searchWord" type="text" name="" value="" placeholder="" ng-model="vm.search.word" ng-change="vm.searchWordChange()">
      </div>
      <div class="input-clear" ng-click="vm.search.word = null" ng-if="vm.search.word">
        <span>clear</span>
      </div>
    </div>

    <div class="tags-wrapper">
      <span class="clear-tags" ng-click="vm.search.tagsActive = []" ng-if="vm.search.tagsActive.length > 0">clear tags</span>

      <div class="pick-tags-wrapper">
        <h5  class="tags-h">Pick from tags</h5>
        <div class="tag" ng-repeat="tag in vm.search.tags" ng-click="vm.searchTagChange(tag)" ng-class="{'active' : vm.search.tagsActive.includes(tag)}">
          {{tag}}
        </div>
      </div>

    </div>

  </div>
</div>
